[2014-12-08 13:00] Starcounter-Jack opened #1 "Installer file name"
Installer name should be

[code]

Right now it is not.

[2014-12-08 13:11] Starcounter-Jack opened #2 "Installer texts"
## Title

The title bar of the installer says ```Starcounter Setup```. It should read ```Polyjuice Setup```.

## Welcome Screen

The installer texts needs to be changed:

[code]

## Next screen - Installation

Replace path Starcounter with Polyjuice.

## Next screen - Database Engine

Change ```Database Engine``` to ```Polyjuice Server```. This is also true for the left pane of the installer (wher

[2014-12-08 13:31] Starcounter-Jack opened #3 "Installer Error - file already exist, version(2.0.608.3)"
[code]

[2014-12-08 13:36] Starcounter-Jack opened #4 "Installer Program Name"
The program name in the installer is

`Starcounter Components`

Change to

`Polyjuice and Starcounter Components`

[2015-02-13 15:36] warpech opened #5 "Remove namespace from imported templates"
Launcher's namespaced imported templates should not be required to hardcode the namespace inside of the template.

Instead of this:

[code]

We need this:
[code]

The model should be accessible for arbitrary code in the imported template, so that a template script can access the data and apply it to any library, be it pure JavaScript/Polymer/React/etc.

[2015-02-18 10:31] dan31 opened #6 "Lost icons in the Polyjuice behaves strangely sometimes"
No special pattern is found. Just clicking around.
![screen shot 2015-02-18 at 11 14 45](https://cloud.githubusercontent.com/assets/7162535/6245707/7fe6b364-b761-11e4-9e40-05f6207ebfd7.png)
This one is activated:

Enable experimental Web Platform features that are in development. #enable-experimental-web-platform-features

[2015-02-18 13:40] tomalec commented on #6
Thanks for reporting :)
This is probably `<juicy-tile-list>` issue, as without element queries, and lack of `Element.onResize` event it cannot get exact moment to read, or update it's own with.
It could also be affected by our routing and imported-template, as tiles-list is rendered with 0 with for the first time.

[2015-02-19 08:58] tomalec commented on #5
Done with https://github.com/Polyjuice/Polyjuice/commit/796cd5872ecb3801624849f0ee2377a56a5e0ce9 and [Juicy/imported-template@0.0.8](https://github.com/Juicy/imported-template/tree/0.0.8)

[2015-02-19 08:58] #5 closed

[2015-02-22 20:58] tomalec commented on #6
Fixed by https://github.com/Polyjuice/Launcher/commit/04205d9bd99208ff085ad64c0c459f7cad67f83d

[2015-02-22 20:58] #6 closed

[2015-03-10 03:30] miyconst opened #7 "System.IO.IOException exception when trying to access Db.SQL from Json model class"
I have changed this code:

[code]

to:

[code]

and here is the RefreshCompanies method:

[code]

It rises exception on query execution:

An exception of type 'System.IO.IOException' occurred in Starcounter.dll but was not handled in user code.

Detailed message: {"no connection to Prolog Server"}

What this exception means?

[2015-03-10 04:23] miyconst commented on #7
Moved to People repository:
https://github.com/Polyjuice/People/issues/7

[2015-03-10 04:23] #7 closed

[2015-03-11 12:15] warpech opened #8 "Common library for data model used in all demo apps"
I have went through all the apps as of 2015-03-11. The data model should reflect all the table definitions found in the apps: https://gist.github.com/warpech/9a1399b2c8a133bbf9a0

I propose one of the following names:
- Simple
- SimpleObjects
- Common
- CommonObjects

[2015-03-18 14:30] warpech opened #9 "Publish common scripts, shortcuts, .sln to Tools repo"

[2015-03-18 14:44] warpech commented on #8
Created: https://github.com/Polyjuice/Simplified

[2015-03-18 14:44] #8 closed

[2015-03-18 14:45] warpech opened #10 "Include Simplified.dll in the installer"
Current build of https://github.com/Polyjuice/Simplified DLL should be included in Starcounter installer

[2015-03-18 15:24] warpech opened #11 "Routing to apps through "host" apps"
As discussed today with @Starcounter-Jack and @alemoi, we would like the URL scheme for standalone apps to be no different than apps accessed through "a launcher".

Consider a URL: `<a href="/people/person/5">Name</a>`. When clicked or accessed through a bookmark:
 - it should load in Launcher, if Launcher is running,
 - it shoud load in People standalone mode, if Launcher is stopped.

**Idea 1**:

[2015-03-18 15:28] alemoi commented on #10
Will do that!

[2015-03-18 15:33] warpech opened #12 "Create a list of patterns and practices"
This should be done in https://github.com/Polyjuice/Polyjuice/wiki

Can be moved elsewhere in future

Questions to answer:
- what is the project structure
- is there a `src` directory
- where is `bower.json`
- conventions for file naming
- what is the path to static assets
- URL and Ontology mapping conventions
- standalone app conventions
- etc

[2015-03-18 15:36] warpech opened #13 "Problems discovered in March demo praparation"
Please share your problems discovered while preparing for March demo here. We can then decide which problems get explained in patterns (#12) and which need to become a issue to be fixed.

[2015-03-18 15:55] alemoi commented on #13
Is it only problems we should mention here or even minor difficulties/"things to improve" here as well?

[2015-03-18 16:57] warpech opened #14 "Icons"
Should we have a default icon pack distributed with Starcounter? I think so!

Choices we have:
- icon fonts:
 - [Font Awesome](http://fortawesome.github.io/Font-Awesome/) - 519 icons, MIT license
 - custom build of multiple MIT license icon fonts into a single font (https://icomoon.io/, http://fontello.com/)
 - icons8 - 2500 *beautiful* icons in 4 styles, commercial but affordable
- custom element

[2015-03-18 17:19] andwah commented on #14
I dont think we should include any icons, which ever we choose we will choose the wrong one :-(
App developers will probably want to use there own icon.

But if we are going to include a theme style with starcounter then i think we may also include icons, why not all of them :-)

[2015-03-18 17:50] warpech commented on #14
Exactly, it is the same problem as with themes.

If we don't include icons, we will end up with apps including their own icons...

In result we will have:
- icon overlap, if apps load the same icons from different locations
- icon collisions, if apps load same font (e.g. FontAwesome) in different versions without renaming the font
- possibly chaotic visual style

The best would be if the app devel

[2015-03-19 09:21] andwah commented on #13
1. If several apps expose a [Save] button (let's say on a "Person").  Both buttons may do different stuff on saving.  (the end-user will probably "hide" one of the buttons.). Then one apps "Save" button will never be called and maybe important code will never be executed.

2. How do we handle redirects,  If in one app's code the developer wants to go to another page (url).
Example. The user do not

[2015-03-19 09:29] warpech commented on #13
@alemoi: minor difficulties and things to improve are especially welcome!

[2015-03-20 11:41] warpech commented on #9
Done: https://github.com/Polyjuice/Tools

[2015-03-20 11:41] #9 closed

[2015-03-23 11:27] warpech opened #15 "Separate maps from apps"
**1. Force apps not to have maps**
Add an exception if `Polyjuice.Map` or `Polyjuice.OntologyMap` is used,
unless the file name is `"<ProjectName>.map.cs"`.

**2. Start maps when app starts**
When worker starts `Skyper.exe` from the queue, it should find `Skyper.map.cs` file and load it.

**3. Remove maps from projects**
Create a file `<ProjectName>.Map.cs` in each Project.
Exclude it from Project

[2015-03-23 11:29] warpech opened #16 "Close issue trackers in apps"
Small apps, such as Cartographer, do not need it's own issue tracker. This issue tracker (Polyjuice/Polyjuice) will be used to track problems with it.

[2015-03-23 13:30] alemoi commented on #16
Just removed the issue tracker from Cartographer.

[2015-03-23 14:41] tomalec commented on #16
What about [Polyjuice/Launcher](https://github.com/Polyjuice/Launcher) vs [Polyjuice/Polyjuice](https://github.com/Polyjuice/Polyjuice)?

[2015-03-23 15:18] warpech commented on #16
We will keep these two.

https://github.com/Polyjuice/Launcher is for problems regarding... Launcher :) But whenever there is a problem with Launcher + some other app, then https://github.com/Polyjuice/Polyjuice is the correct place to post about it

[2015-03-24 10:13] warpech commented on #15
Rationale:
1. it allows a simple security audit (to know what data does the app access)
2. it is a permissions manifest (the App Store can show that this app is mapped to People, Organizations and Addresses)
3. apps can be closed source, but we want to inspect what data does the app map to
4. it allows us to change the mapping without rebuilding the app

Sample maps (see Polyjuice.Map and Polyjuic

[2015-03-24 15:03] miyconst opened #17 "Coding style and rules"
There are many developers working on Polyjuice apps using different tools.
This leads to different code style like:

1. Different tab size.
2. Different spacing: `if (a == b) {` - `if(a == b){` and so on.
3. Different quotes inside html: `<div class='div'></div>` - `<div class="div"></div>`.
4. Closed & not closed single html tags: `<input type="text">` - `<input type="text" />`.

A `.js` or `.htm

[2015-03-24 17:08] warpech commented on #17
Duplicate of #12. Could you paste it there and close this one?

[2015-03-24 17:10] warpech commented on #17
This is similar to #12 but actually different. #12 is about design practices (what is the project structure, etc) and this one is about coding style (tabulation, quotes, etc)

[2015-03-24 17:19] warpech opened #18 "Create a GoogleSignIn app"
A new app should be created to demonstrate that we can have apps doing the same thing differently.

Create a new project Polyjuice/GoogleSignIn.

Take inspiration from https://github.com/Polyjuice/SignInApp how to sign in and take this Custom Element to integrate with Google API if possible https://github.com/GoogleWebComponents/google-signin

SignIn and GoogleSignIn can be run together or just on

[2015-03-25 09:04] tomalec commented on #17
For our custom elements, we have once talked about keeping same [editorconfig](http://editorconfig.org/) for every project.

[2015-03-25 11:49] warpech commented on #18
If `<google-signin>` doesn't work, let's use https://developers.google.com/+/web/signin/ then (because the custom element is a thin wrapper around that API)

[2015-03-25 19:20] miyconst commented on #18
Here is the first version of GoogleSignIn application.
https://github.com/Polyjuice/GoogleSignIn

Things to do:
- [ ] Register a real Google Application and obtain its ClientID.
- [ ] RedirectUrl does not work yet.
- [ ] Nice icon.
- [ ] Make it work together with SignInApp.
- [ ] Fix UserAdminApp and test with GoogleSignIn.

[2015-03-27 12:58] warpech opened #19 "Upload does not work in Images app"
Upload does not work in Images app.

Brief investigation shows that the POST handler is not called for image upload in the Images app.

May be a problem with recent changes in removing `/launcher/workspace` from URLs.

@alemoi could you take a look?

[2015-03-27 13:52] alemoi commented on #19
Sure, I will take a look!

[2015-03-27 15:03] warpech opened #20 ""Apply default styles" does not work in People app"
Last Friday (20.03) it worked OK. Probably some problem with changed ids?

[2015-03-27 15:59] warpech opened #21 "Skyper test suite does not pass"
Skyper test suite (described in README.md) does not pass.

The error message is:

[code]

The code for the test is here: https://github.com/Polyjuice/Skyper/blob/master/test/test.js

@chrhol could you please take a look? It seems like some problem between JSON and Db.Scope... I tried to investigate but could not get to work.

For some reason trying to do the test by repeating the same actions manu

[2015-03-29 20:55] #10 closed

[2015-03-29 21:05] alemoi commented on #11
I suppose, after introducing middleware filters, this issue seems to be irrelevant, so I am closing it. Please reopen if needed :)

[2015-03-29 21:05] #11 closed

[2015-03-30 09:47] warpech commented on #17
I created a stub page: https://github.com/Polyjuice/Polyjuice/wiki/Coding-Style

+1 about editorconfig

I was not able to find a nice and short style guide for C# as a reference point. Some longish and outdated guides:

- http://www.aspdotnet-suresh.com/2010/04/c-coding-standards-and-best-programming.html
- http://se.inf.ethz.ch/old/teaching/ss2007/251-0290-00/project/CSharpCodingStandards.pdf

Ot

[2015-03-30 09:48] warpech commented on #17
@miyconst please expand the wiki stub with anything you find useful and assign it back to me for review when done

It would be really good for credibility if the rules in the style guide would be backed with a link to other styles that include that rule.

[2015-03-30 09:50] warpech commented on #12
Naming conventions should be explained similarly to
- http://guides.emberjs.com/v1.10.0/concepts/naming-conventions/

[2015-03-30 11:16] alemoi opened #22 "User should be able to get the level of the X.GET call hierarchy"
This should be suitable for determining what partial size to respond with. Initially for the external request the level value is 0, however the client should be able to overwrite this initial value by setting the HTTP header `X-Accept-Size` to some integer, then the counting starts from this value and increases on each internal X.GET call.

[2015-03-30 11:52] chrhol commented on #21
I found and fixed a couple of bugs when registering transaction on session, but I don't think that makes any difference for this issue.

For this issue: If you run patches over websocket everything works fine. If you turn off websocket and use http you will get the same exception in both the test and when doing the steps manually.

The following row (in `SkyperFriendsList.RefreshFriends()`) is ret

[2015-03-30 12:00] chrhol commented on #21
Or maybe the AppName should be set when evaluating the path in the patch? I guess this might be the correct way to do it.

[2015-03-30 12:31] chrhol commented on #21
I implemented the change above and it seems to be working fine. I have some problems pushing and doing personal builds on the buildserver (same for everyone I guess). I will update this issue when I succeeded in pushing it to develop.

[2015-03-30 13:37] chrhol commented on #21
Changes pushed now. The Skyper-test should succeed. I think it's disabled at the moment so maybe @parherman can enable it again.

[2015-03-30 13:37] #21 closed

[2015-03-30 21:21] alemoi opened #23 "Investigate how to send cookies/headers in application responses"
Every application can send custom HTTP headers, like cookies, in their responses. Right now we only have a merger for the list of JSON responses. We need to discuss how to merge (if to merge at all) a list of arbitrary responses. Merging headers together sounds like an expensive operation but should not be an often the case.

[2015-03-30 21:50] miyconst commented on #17
@warpech, @tomalec here are two small wiki pages.

https://github.com/Polyjuice/Polyjuice/wiki/JavaScript-code-formatting
https://github.com/Polyjuice/Polyjuice/wiki/JavaScript-common-practices

Please, check them out and let me know what do you think.

[2015-03-30 23:42] alemoi commented on #23
I thought about this and I think it should be possible. Yes its quite an expensive operation, but lets see after discussion.

[2015-03-31 11:34] warpech opened #24 "GoogleSignIn gets incorrect patch response from the server"
After signing in, GoogleSignIn receives a patch response that is not a valid JSON.

Steps to reproduce:
1. Use current Starcounter (2.0.3108.3)
2. Start current Launcher (2.0.0-pre7)
3. Start current GoogleSignIn (36173a)
4. Go to localhost:8080 and click on Google Sign In icon
5. A popup window opens, allowing you to log in through Google
6. After successful login, client sends a request to serve

[2015-03-31 11:40] warpech commented on #24
The reason seems that the response did not contain a Json resource. The above patch fixes it.

Starcounter Puppeteer should handle such problems without an error or show an explicit exception (don't know which is better...)

[2015-03-31 12:03] chrhol commented on #24
Thanks for the steps to reproduce it. The serializer adds an extra `,` beacuse of the comment you made above, the response contains no jsonresource.

I will work on a fix.

[2015-03-31 13:26] chrhol commented on #24
I have pushed a fix for this to develop (and next).

[2015-03-31 13:26] #24 closed

[2015-03-31 14:49] tomalec commented on #17
I think it would be nice to have a short HO and agree on each point you mentioned.

BTW, as usual Web Components people gives us something we need right in time https://twitter.com/addyosmani/status/582913556485677056/photo/1

[2015-03-31 15:10] miyconst commented on #12
@warpech here is a wiki page which covers some of the points:
https://github.com/Polyjuice/Polyjuice/wiki/Polyjuice-project-structure

[2015-03-31 15:14] miyconst commented on #17
@tomalec, HO call would be great.

JSCS seems to be a powerful tool.

[2015-03-31 15:20] miyconst commented on #17
editorconfig is not going to implement some important features like:
- curly_bracket_next_line
- spaces_around_operators
- spaces_around_brackets
- indent_brace_style

https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

[2015-03-31 19:43] miyconst commented on #17
A page with some items about c#.
https://github.com/Polyjuice/Polyjuice/wiki/C%23-code-formatting

[2015-04-03 06:42] warpech commented on #19
Any ideas about this?

[2015-04-03 06:53] warpech opened #25 "Make every app able to run standalone"
- [x] AppStore
- [x] AppStoreClient - by @miyconst
- [x] Barcodes - by @miyconst
- [ ] Cartographer
- [ ] GoogleSignIn
- [x] Images
- [x] Launcher
- [x] People - done, need some refactoring
- [x] Procurement - by @miyconst
- [x] Products - by @warpech
- [ ] SignIn
- [x] Skyper
- [ ] User Admin

[2015-04-03 06:55] warpech opened #26 "Remove "App" from the name of "SignInApp" and "UserAdminApp" repo and project"

[2015-04-03 08:19] miyconst commented on #20
Not only default styles, but the layout editor does not work.

I could not find a way how to put two elements with fixed height on the same row.
Last time I tried it, it was a couple of weeks before and it worked.

If two siblings have common width less than 100% then they were displayed on the same line.
Now it does not work.

[2015-04-03 08:45] miyconst commented on #19
I have tested Images app under the latest nighty build which is:
`Polyjuice-DevelopNightlyBuilds-2.0.3111 (Apr 3, 2015 2:59:48 AM)` and the POST handler is called as expected, probably @alemoi fixed it.

But there is another issue with headers.
Images app sets a header.
https://github.com/Polyjuice/Images/blob/master/ImageUpload.cs#L80
[code]

And the header is not being send to the client.
I thin

[2015-04-03 09:40] warpech opened #27 "Move Polyjuice/Wiki images to Polyjuice/Polyjuice wiki"
This repo is not needed: https://github.com/Polyjuice/Wiki
As any GitHub wiki is a git repo actually: https://github.com/Polyjuice/Polyjuice.wiki.git

More info: https://help.github.com/articles/adding-and-editing-wiki-pages-locally/

[2015-04-03 10:21] miyconst commented on #27
Done.

[2015-04-03 10:21] #27 closed

[2015-04-03 10:22] miyconst commented on #26
App is removed from cooki-rework branch of SignInApp.

https://github.com/Polyjuice/SignIn/tree/cookie-rework

[2015-04-03 10:44] warpech opened #28 "Sample REST authentication in SignIn"
SignIn app should support ability to authenticate using REST interface.

The design goal for a REST interface is to use the same handlers for JSON and HTML.

Include tests in SignIn (Node + Mocha, similarly to tests in https://github.com/Polyjuice/Launcher) that checks:
1) signing in
2) retrieving information about currently signed in user
3) retrieving information from another app that expects si

[2015-04-03 20:14] alemoi commented on #23
Here is the linked issue: https://github.com/Starcounter/Starcounter/issues/2637

[2015-04-03 20:14] #23 closed

[2015-04-03 20:21] alemoi commented on #22
Current level in handlers call hierarchy can now be accessed by reading static property `Handle.CallLevel`. This value is independent from edition and just provides the level of handler call. User can manually combine this value with, for example, HTTP header `X-Accept-Size` that provides an initial partial size and other custom solutions like this, but its outside the purpose of `Handle.CallLevel

[2015-04-03 20:21] #22 closed

[2015-04-03 22:41] alemoi commented on #19
I added new interface to add outgoing HTTP headers, same as for cookies: `Handle.AddOutgoingHeader`. Done via: 05883ebe9c05f2763837537d423cc1c6c6ff6617

[2015-04-03 22:57] alemoi commented on #19
Modified Images app accordingly via: 55b476c65bc38a33dfa9bd24ba822ec0aeed7a72

[2015-04-05 09:51] miyconst commented on #19
@alemoi, @warpech, file uploading works as expected.
I close the issue.

[2015-04-05 09:51] #19 closed

[2015-04-05 10:15] miyconst commented on #28
@warpech I have checked how SignIn app works with `application/json`, `text/plain` accept header.

It works, but not as I would expect common api work.
The server returns entire model in json format, I would expect something like:

[code]

Third part applications have no idea of what labels, buttons, templates we have on the page.
Even more, they don't want to know about that.

[2015-04-07 10:36] warpech opened #29 "Add Bootstrap to installation /sys/ packages"
To achieve consistent look in applications, we decided to add Twitter Bootstrap (3.3.4) with Bootswatch Paper (3.3.4+1) theme to installation packages.

Me and @tomalec decided that it is a good idea to create our repo for the copy of Twitter Bootstrap with the applied theme. Otherwise it would be impossible to do automatic `rm -rf && bower install` in the StaticFiles directory.

Now the question

[2015-04-07 11:00] miyconst commented on #29
I like the 2-d option. New developers might be confused why `bootstrap.css` file works in different way compare to the original file.

Also I don't like to mess inside code of other vendors.

[2015-04-07 11:07] miyconst commented on #20
@tomalec could you please check the layout editor?

Something is wrong in there, elements keep staying on different lines even if total length is less than 100%.

Here is a screen shot.

![layout-editor-bug](https://cloud.githubusercontent.com/assets/6435556/7021924/4339694a-dd2f-11e4-9133-ec9aebf53fd6.PNG)

[2015-04-07 11:26] andwah commented on #29
I also like option 1.  Then people can still use twitter bootstrap with another theme if they like.

[2015-04-07 11:37] tomalec commented on #29
I would go for 2. as this is how Bootswatch says, so we would avoid bugs related to using it in a way it was not prepared for.

It will be our `polyjuice/bootstrap.css` not `twitter/bootstrap.css`, so I believe it's clear enough that is our custom theme. If people would like to use twitter bootstrap, the would probably use `twitter/bootstrap.css` anyways, to make sure the get what they want.

[2015-04-07 11:46] miyconst commented on #20
Here is the editor code source:

[code]

[2015-04-07 13:05] tomalec commented on #20
At my machine, with recent Starcounter, Launcher, People, and setup you gave it works as desired

![fireshot capture - launcher - http___localhost_8080_people_persons_i](https://cloud.githubusercontent.com/assets/17435/7023701/7c70a7b6-dd37-11e4-84bf-c470c8229e92.png)

If after update issue persist, pleas catch me on Hangouts.

[2015-04-07 13:24] miyconst commented on #28
@warpech here is the end result:
https://github.com/Polyjuice/SignIn/blob/cookie-rework/test/test.js

The test requires UserAdminApp running and a specific user inside database.
This concerns me.

[2015-04-07 13:42] miyconst commented on #20
Whatever the issue was, but after SC re-install and removing all data from `"JuicyTiles"."JuicyTilesSetup"` it's gone.

[2015-04-07 14:11] miyconst commented on #20
Default layout styles for People app works again.

[2015-04-07 14:11] #20 closed

[2015-04-07 15:26] warpech commented on #29
I am afraid that if we go for 1., we may end up with someone actually using `bootstrap.css` instead of `bootstrap-bootswatch-paper.css` - which give unpredictable result. If someone really wants to use another bootstrap theme than Bootswatch Paper (including the original theme), they can import it locally in their project.

[2015-04-07 16:16] warpech commented on #29
As it turned out, the Bootswatch themes are also on GitHub: https://github.com/thomaspark/bootswatch

Since we use it unmodified, I decided to include Bootswatch themes via bower. The GitHub repo includes all the themes, of which we need only one. Hence, I disabled other themes in https://github.com/Starcounter/Starcounter/blob/develop/src/BuildSystem/Polyjuice/.gitignore

Bootswatch Paper theme c

[2015-04-07 16:42] miyconst commented on #29
@warpech sure, will do that tomorrow.

[2015-04-07 17:49] miyconst commented on #29
@warpech should I also use icons from the bootstrap package?

[2015-04-09 14:49] miyconst opened #30 "Create shared .dll with all sign in/out methods"
There are three applications which copy paste same code:
- `SignIn`
- `GoogleSignIn`
- `UserAdminApp`

And we are planning to add `JsonTookenSignIn`.

There should be a shared .dll with all those classes and methods. Maybe a class `Auth` (or any other name) should be build in Polyjuice so every application could check whether user signed in and which user.

[2015-04-09 18:47] miyconst commented on #12
@warpech, @andwah, @tomalec I have updated the wiki page according to the new project structure.

Please verify that everything is right and I will put in order my projects.

[2015-04-09 19:35] dan31 commented on #12
More patterns and practices! :+1:

[2015-04-10 10:05] warpech commented on #12
Great diagram! Is it hand made?

I made some minor edits:
- the introduction is now more compact
- clarified about VS files

Please go on with adapting the projects.

[2015-04-10 10:39] miyconst commented on #12
Yes, it is hand made :)

The only one folder we missed out is the content folder. In People app I have `default-layout.sql` file. Which is not a part of wwwroot but also not a part of server side code. We need a folder for such files.

[2015-04-10 12:01] miyconst commented on #12
Another folder we forget about is `dist` which contains `.zip` packages for app store.

[2015-04-10 12:08] warpech commented on #12
I am not familiar with how such folder is normally called, but I am fine with `content` if you propose so.

`dist` is now `packages` (such folder is created by VS "Publish" feature)

[2015-04-10 13:38] warpech commented on #14
As pointed out by Konstantin in #29, Twitter Bootstrap comes with its own icon font "Glyphicons Halflings", with a commercial free-to-use kind of [license](http://glyphicons.com/license/):

If I am not wrong, Glyphicons Halflings has a similar API to Font Awesome, and they can be used side by side. I checked the list of icons and I don't find it very useful for a business app suite.

I think it ca

[2015-04-10 13:43] warpech commented on #29
I responded generally in #14, but in short words - we can use it but only where it makes sense. I think that a good design can go far without icons ([Windows Phone](http://blogs.msdn.com/b/africaapps/archive/2014/03/08/ux-guidelines-for-windows-phone-8.aspx) is a good example)

[2015-04-14 11:55] miyconst opened #31 "Migrate all of the project to the new project structure"
https://github.com/Polyjuice/Polyjuice/wiki/Polyjuice-project-structure

[2015-04-14 15:47] warpech opened #32 "JSON Web Token example"
Currently, there are 2 apps to authenticate a user using a cookie-based session:
- SignIn
- GoogleSignIn

For REST usage of the apps, we need a more API-oriented way to authenticate.

Let's make an example using [JSON Web Token](http://jwt.io/)
RFC draft: http://tools.ietf.org/html/draft-ietf-oauth-json-web-token
15 min video: https://www.youtube.com/watch?v=eWUkxzyB1Rk
Alternative introduction: h

[2015-04-14 16:12] miyconst commented on #32
Currently I have a test method which issues JWT by username and password.

SignIn app looks for auth cookie and auth header on load. If the auth header contains jwt, then it is being parsed and user got authenticated.

This has been tested through Postman app, no js test so far.

I don't like the idea of passing jwt to UserAdmin app. UserAdmin app should not even know about authentication applicat

[2015-04-14 16:42] warpech commented on #32
The work so far is commited in https://github.com/Polyjuice/SignIn/commit/e90900cdc02df6429c543cc3c267e5ad89609d21

On a Hangout, me and @miyconst decided to freeze the work until it is more clear about how getting the current user and his permissions can be achieved through mapping.

[2015-04-14 16:42] miyconst commented on #31
The apps to rework:

- [ ] Launcher, https://github.com/Polyjuice/Launcher
- [ ] UserAdminApp, https://github.com/Polyjuice/UserAdminApp
- [ ] Procurement, https://github.com/Polyjuice/Procurement
- [ ] Skyper, https://github.com/Polyjuice/Skyper
- [ ] Products, https://github.com/Polyjuice/Products
- [ ] Cartographer, https://github.com/Polyjuice/Cartographer
- [ ] Barcodes, https://github.com/Po

[2015-04-14 17:30] warpech commented on #32
We talked about this with @dan31, and the conclusion is that the possibility of sharing *authorisation* between apps should be revised after the mapping is implemented.

As for *authentication*, let's continue to use current solution for the time being (cookie based auth with lookup in Simplified.Ring5.SystemUserSession table)

As for *JSON Web Token*, let's limit it's usage to a single app until

[2015-04-14 18:22] #26 closed

[2015-04-14 18:34] miyconst opened #33 "$ and Namespace inside Json viewmodel"
What for this line of code?
[code]

Should I use it? If so then when? I never passed namespace in my ViewPage.json, but saw this in older applications.

[2015-04-15 11:17] miyconst commented on #31
UserAdmin app has some sub-folders inside `viewmodels` folders. We have not yet decided correct structure for sub-folders and sub-namespaces, so I left it as is.

[2015-04-15 13:20] warpech commented on #12
As discussed on Skype, the Project Structure needs the following changes:

- describe the usage of namespaces:
 - use shallow namespace (`namespace UserAdmin {`)
- use PascalCase for folders that contain CS code
- add StandalonePage.html to the diagram

[2015-04-15 13:22] warpech commented on #31
As discussed on Skype, the subfolders should not be mirrored in namespace. The namespace for the demo apps should be flat (just the project name).

For the viewmodels that have a HTML file but use Page class directly in C# (without extending it), the filename should contain the `Page` word. Hence, in People app rename the file `AppIcon.html` to `AppIconPage.html`

[2015-04-15 14:36] miyconst commented on #31
UserAdmin app finished.

[2015-04-15 14:58] miyconst commented on #12
Updated wiki page.

[2015-04-19 14:05] miyconst opened #34 "Layout styles depends on application start number, but should not"
Layout style key is generated as `[MainAppName, InjectedAppName1, InjectedAppName2].join("&")`. If app 1 was started before app 2 then the key will look like `MainApp&App1&App2`, but if app 2 was started before app 1 then key will look like `MainApp&App2&App1`.

This leads to different layout key for same page with same applications. The key should be the same regardless application start position

[2015-04-20 09:45] tomalec commented on #34
There is already work in progres (https://github.com/Polyjuice/Launcher/tree/persistent_tiles_setup).

We have described final solution at wiki: https://github.com/Polyjuice/Launcher/wiki/Layout-setup
Currently, we need _Partial Id_ as described at https://github.com/Polyjuice/Launcher/wiki/Merged-JSON-Response and just use it as a key for juicy tiles setup.

[2015-04-20 14:41] miyconst commented on #31
Skyper: https://github.com/Polyjuice/Skyper/commit/8dbf99c972ee5db78525920d095888175920316a, https://github.com/Polyjuice/Skyper/commit/218e8b3be9a8fce363e6dc6fe0b0eb91514ea4af

[2015-04-21 09:16] miyconst opened #35 "Could we remove juicytilessetup 404 error?"
This error is really annoying when looking for a particular error on console.

Could there be a handler which would catch all of those requests and response that there is no style for this element, but with code 200 instead of 404.

[2015-04-21 11:48] miyconst commented on #22
`Handle.CallLevel` works for me.

[2015-04-21 12:11] alemoi commented on #22
Thank you for the response!

[2015-04-21 19:48] miyconst opened #36 "Add generatestyles handler"
Add generatestyles handler to
https://github.com/Polyjuice/Polyjuice/blob/master/src/JuicyTilesSetupHandlers.cs

Instead of Laucnher.

[2015-04-21 22:49] tomalec commented on #36
What do you mean by generatestyles handler?

I would rather say that we should move entire JuicyTileSetup fetching to the Launcher.
And those handlers does not generate styles, it is only key-value store.

[2015-04-21 22:52] tomalec commented on #35
Once we will implement Partials and Layouts as in wiki it should not happen (at least in regular case).
https://github.com/Polyjuice/Launcher/wiki/Layout-setup#layout-fetching-algorithm

[2015-04-22 07:28] miyconst commented on #36
@tomalec this is an issue for me.

I have created a handler in launcher, which generates .sql script for layout styles.
It should be moved to Polyjuice project, to don't forget I created this issue.

[2015-04-22 10:41] miyconst opened #37 "Layout editor: add possibility to delete elements from tree"

[2015-04-22 10:42] miyconst opened #38 "Layout editor: add possibility to set custom group name in tree"

[2015-04-22 10:45] miyconst opened #39 "Layout editor: set width to 100% instead of screen width for new groups"
Width of new groups automatically set to its current width, which is wrong. When applying styles on a big monitor, then scroll appears when trying to view the page on a small monitor or with lower resolution.

The width for new groups should be automatically set to `100%`. Same should be applied for root groups.

[2015-04-22 10:59] miyconst commented on #36
Done.

Now there is a handler to generate sql statement for layout styles per app:

`http://localhost:8080/launcher/generatestyles/AppName`

For example:
`http://localhost:8080/launcher/generatestyles/products` will generate sql for styles of Products application.

[2015-04-22 10:59] #36 closed

[2015-04-23 08:25] miyconst opened #40 "Layout editor: fix side bar title"
Side bar title now contains button <--> to move it from left to right and back, so it should be fixed on top of the bar and not scroll with content.

[2015-04-23 08:33] tomalec commented on #39
Some time ago we Agreed with Jocke and Marcin that we should create a group as small as possible, so there is an algorithm that finds the smallest dimensions.

Both solutions have pros and cons :/

@warpech do you have any comment?

[2015-04-23 08:34] tomalec commented on #38
[`<juicy-tile-list>`](https://github.com/Juicy/juicy-tile-list)  supports it from long time ago, so it should go quite easy, and require only adding edit field.

[2015-04-23 08:35] tomalec commented on #37
By delete, do you mean delete setup item entry for an element and fall back to default one?

[2015-04-23 09:33] warpech commented on #39
I think 100% is the way to go for the group.

In long term, I think we should be fine using mostly relative values (`25%`, `50%`, `100%`, etc) for group and element widths and pixel values (`320px`, `960px`, 1280px`, etc) for responsive design breakpoints of a specific container width (once we have breakpoints).

Does it make sense to you?

[2015-04-23 10:32] miyconst commented on #37
Yes, I meant delete entire branch of styles and revert it back to default. This would be very useful when an element removed from a page, but styles for the element still persist.

[2015-04-23 11:36] mtornwall opened #41 "Stop launcher from tampering with certain requests to enable REST API"
The way the launcher behaves right now (or rather, the way LauncherHelper behaves) makes it difficult to implement a REST API while the launcher is running. Since it installs a middleware filter to wrap the pages it serves in the launcher the responses from the REST API get garbled.

My current (incredibly ugly) work-around involves wrapping the middleware filter installed by LauncherHelper in ano

[2015-04-23 13:52] #40 closed

[2015-04-23 18:24] #34 closed

[2015-04-23 20:03] alemoi commented on #41
Thanks for the question! The idea was that when Launcher is running - it wraps ALL the existing responses from all handlers, since Launcher has a notion of "wrapper".

Just for me to understand, is there a reason to run Launcher and at the same time not expect it to wrap everything?

If it helps, you can simply turn off/on middleware filters "on the fly" without restarting the codehost as describe

[2015-04-24 01:10] alemoi commented on #41
Probably you want a handler result that should never be wrapped?

[2015-04-24 10:48] warpech opened #42 "Layout editing priorities"
As discussed between @Starcounter-Jack, @tomalec and me:

- [ ] 1a. Forking/version history (**offloaded** - assign to Alexey?) - https://github.com/Polyjuice/Launcher/issues/114 2b., https://github.com/Polyjuice/Launcher/issues/122, https://github.com/Polyjuice/Launcher/issues/102
- [x] 1b. Remove packery from runtime: Unbind repack from resize event [description at wiki], https://github.com/Juic

[2015-04-24 11:18] tomalec commented on #39
To sum up what I get from todays meeting, until juicy-tile-list features (fractions, tight groups, etc.) will be provided, we will use two buttons in editor:
 - New group / new smallest possible group - current "new group" functionality, that calculates smallest possible group containing selected element (now in `px` maybe in future we will keep it with `fr` or `px`)
 - New row / new group - creat

[2015-04-24 12:08] mtornwall commented on #41
Yes, exactly.

The reason is that parts of my app are meant for humans to interact with through the browser (and in that scenario I want the launcher). However, I also have a part that needs to interact with another (external) application using REST calls.

[2015-04-24 15:26] andwah opened #43 "Build a Fiddler App"
![fiddler](https://cloud.githubusercontent.com/assets/2656996/7322218/f5dac6d2-eaa6-11e4-98e3-8b8ce96db3ef.png)

[2015-04-25 18:41] alemoi commented on #41
I was thinking about it and came up with a flag that can be set when registering a handler using `HandlerOptions`. The flag is used simply to skip the middleware filters.

[2015-04-27 08:42] mtornwall commented on #41
Actually looking for a handler option like that was my first instinct, so to me it sounds like a good solution. :)

[2015-04-27 17:04] alemoi commented on #41
Should be available via 947aea0c449b90121bed38bded7958cc9364a171
Please let us know!

[2015-04-28 07:38] miyconst commented on #39
@tomalec, what is the difference between `New group` and `New row`? There is only one button on the control panel.

[2015-04-28 08:42] tomalec commented on #39
The idea is to add a new button that would create `new row` - new group with `width: "100%"`.
`New smallest possible group` - will do what `new group` does currently.

[2015-04-28 08:44] miyconst commented on #39
Okay, I may try to do that.

[2015-04-28 08:58] miyconst opened #44 "Layout editor: replace default icon for an element"
Currently default icon for a simple element is a dash `-`, it should be replaced with some nice icon, maybe small rectangle or something like this.

[2015-04-28 09:05] miyconst opened #45 "Layout editor: change font-color of tree elements"
Currently left side tree has `opacity: 0.85;` which makes text difficult to read.

It would be better to apply opacity to background color only. Font color should also be darken a little.

I would change color scheme to match top panel and rid off opacity at all.

[2015-04-28 09:12] miyconst opened #46 "Layout editor: use static position for sidebar"
Not sure it is a good idea, but I would like to put sidebar at the left/right side of the content, instead of over content.

This might cause horizontal scroll on small monitors or large websites, but overall it should improve usability.

Buttons to collapse/expand sidebar might be added if needed.

[2015-04-28 09:16] mtornwall commented on #41
This resolved the issue. Thanks!

[2015-04-28 09:16] #41 closed

[2015-04-28 09:16] miyconst opened #47 "Layout editor: remove shadow overlay"
I would remove black shadow over entire page. Blue border distinguish selected element good enough.

[2015-04-28 09:18] miyconst opened #48 "Layout editor: highlight elements on hover"
Not very important, but would be nice to highlight html elements when hovered in sidebar.

[2015-04-28 10:09] #39 closed

[2015-04-28 11:10] miyconst commented on #38
@tomalec I have added UI to edit group/element id, but it does not work.

The value being restored on page reload.

[2015-04-28 11:14] miyconst commented on #31
@warpech is there any app to rework or I should close the issue?

[2015-04-28 11:48] warpech commented on #45
+1

[2015-04-28 12:01] miyconst commented on #45
+1 to which point?

[2015-04-28 12:10] warpech commented on #44
I vote for having no icon for a simple element...

Alternatively, let's add some meaning to it:
- if this element has only div, span and text nodes, let's put a `Ｔ` icon
- otherwise let's put a `〈〉` icon

Reference screenshot how others do it:
![screenshot 2015-04-28 14 07 17](https://cloud.githubusercontent.com/assets/566463/7369187/f0bd8c1e-edaf-11e4-8cae-3b116780c7ac.png)

[2015-04-28 12:14] miyconst commented on #44
The `T` and `<>` icons might look good, but this might need way too many calculations to determine type of a node.

[2015-04-28 12:20] warpech commented on #44
I think this is acually a one liner in JS:

[code]

Replace `document.body` with the element and there you go! If we see it too much in Chrome Dev Tools Profiler, we can always remove it.

[2015-04-28 12:26] warpech commented on #46
I think it makes sense since the scrollbar itself now scrolls to highlighted element: https://github.com/Juicy/juicy-tile-editor/issues/41

[2015-04-28 12:28] warpech commented on #47
You can experiment with it. `<juicy-highlight>` has `overlay` as a boolean parameter: https://github.com/juicy/juicy-highlight

[2015-04-28 12:29] warpech commented on #48
Highlight, but not select? Definitely useful!

[2015-04-28 12:34] miyconst commented on #44
You forgot about `em`, `b`, `strong`, `i` and other text tags. Not sure it is okay to run that long query selector for each tile.

[2015-04-28 13:07] warpech commented on #44
Yeah, it slows down with multiple checks, but still few million checks per second: http://jsperf.com/queryselectorfun

And we usually have no more than thousand elements in the tree, don't we?

[2015-04-28 13:18] miyconst commented on #44
Seems to be fast enough. Then what way to go? Remove `-` icon or replace it with `T` and `<>`?

[2015-04-28 13:28] warpech commented on #45
I'm sorry, I didn't discover that the last line contradicts the previous one...

I dislike that the color scheme of the layout editor blends too much with Launcher. Maybe the color scheme for the sidebar + toolbar should stand out more? Perhaps make it gray/white as in:

- [After Effects](http://gallery.dpcdn.pl/imgc/Tools/12434/g_-_-x-_-_s_12434x20120507161359_00.png)
- [Unity3D](http://bestwinso

[2015-04-28 13:32] miyconst commented on #45
Gray and white would be nice and readable, just don't add redundant shadows and opacity.

[2015-04-28 13:33] tomalec opened #49 "Layout editor: Save all button"
Add save all button that will save all juicy tiles' layouts

[2015-04-28 13:33] warpech commented on #45
+1 :)

[2015-04-28 13:35] miyconst commented on #45
Then I take the issue.

[2015-04-28 13:46] warpech commented on #44
Yes, let's try that!

[2015-04-28 13:47] warpech opened #50 "Layout editor: Save button forgets that it was in dirty state"
When I turn the layout editor on/off, the Save button forgets that it should be in dirty state.

[2015-04-28 13:52] warpech commented on #31
Nope, done! :trophy:

[2015-04-28 13:52] #31 closed

[2015-04-28 13:55] warpech commented on #29
Bootswatch Paper theme is now distributed with Starcounter:

- code: https://github.com/Starcounter/Starcounter/tree/develop/src/BuildSystem/Polyjuice/StaticFiles/sys/bootswatch
- loader: https://github.com/Starcounter/Starcounter/blob/develop/src/BuildSystem/Polyjuice/StaticFiles/sys/bootstrap.html

It can be abstractly imported by using this line in a partial:

[code]

[2015-04-28 13:55] #29 closed

[2015-04-28 13:56] warpech commented on #18
@miyconst could you create tickets for the above issues (if still applicable) in https://github.com/Polyjuice/GoogleSignIn and close this issue? Thanks!

[2015-04-28 13:59] tomalec opened #51 "Layout editor: juicy-tile-list setup should be always preloaded"
So we do not have to wait and blink to fetch it asynchronously

[2015-04-28 14:02] tomalec opened #52 "Reload the data at (merged) partial without reloading the partial itself"
When reloading by re-requesting via `Self.GET` does reload data, but blinks, as it re-attaches HTML in DOM.

`MyPage.Data = newdata` does not notify poly pages.

[2015-04-28 15:00] warpech commented on #49
I think that the regular button should act as "Save all" button. Otherwise it is hard for me to judge what layout I am saving.

I understand the argument that I might want to temporarily hide Partial A, then make layout changes in Partial B and save only B. But I can overcome this by restoring A before hitting save.

[2015-04-28 15:02] warpech opened #53 "Layout editor: Prompt before losing layout changes"
Currently when I make changes in the layout and collapse the editor, it is easy to forget that the changes were not saved. Ideas:

1) Show prompt when closing the editor with unsaved changes
2) Show prompt when navigating away from the page in browser (`window.onunload`)

[2015-04-28 15:06] miyconst commented on #18
Done.

[2015-04-28 15:06] #18 closed

[2015-04-28 16:21] miyconst commented on #45
New styles applied.

[2015-04-28 16:21] #45 closed

[2015-04-28 16:27] miyconst commented on #44
Removed icon for simple elements, looks good for me.

[2015-04-28 16:34] miyconst commented on #47
Which one is better:
![layout-overlay-1](https://cloud.githubusercontent.com/assets/6435556/7374888/7e50c988-eddd-11e4-8bb3-f65955a8a0a7.png)
![layout-overlay-2](https://cloud.githubusercontent.com/assets/6435556/7374889/7e52258a-eddd-11e4-9f75-50ea65377f20.png)

I like the second one.

[2015-04-28 16:37] miyconst commented on #46
Should I remove ability to drag sidebar then?

[2015-04-29 07:59] miyconst commented on #51
@tomalec, is this issue same as https://github.com/Polyjuice/Launcher/issues/123?

[2015-04-29 08:26] tomalec commented on #51
Nope, this one is about configuration setup coming in JSON view-model together with partial data

[2015-04-29 09:37] miyconst commented on #49
Does this mean, that currently save button saves only selected element?

[2015-04-29 10:41] warpech commented on #49
It saves the layout for `juicy-tile-grid` of the currently edited element.

I propose to have a single "Save" button that saves all `juicy-tile-grid` setups which are in dirty state.

BUT, if there is more than one dirty `juicy-tile-grid` setup, the button will show a prompt for confirmation before saving each of them.

[2015-04-29 10:45] miyconst commented on #50
@tomalec, I have added

https://github.com/Polyjuice/Launcher/blob/master/src/Launcher/wwwroot/sys/juicy-tile-editor/src/juicy-tile-editor-form.js#L321
[code]
To `selectedItemsChanged` method, but this behaves very strange. Sometimes it gets into modified state when I select some elements, but don't change them. Sometimes it does not get into modified state when I return back to modified element.

[2015-04-29 10:50] #47 closed

[2015-04-29 12:31] warpech opened #54 "Polyjuice.dll vs Launcher"
**Every** class and method in [Polyjuice/Polyjuice](https://github.com/Polyjuice/Polyjuice) is heavily tied to [Polyjuice/Launcher](https://github.com/Polyjuice/Launcher), making it impossible to create an alternative Launcher (with different JSON structure, for example without a search bar).

Thus, I vote for moving all the code back to Polyjuice/Launcher. When things get stable and we identify t

[2015-04-29 15:24] miyconst commented on #53
1) I would rather change color of editor cog. It is often required to close/open editor when applying layout settings for a big page. The prompt might be really annoying.

2) `window.onunload` works fine with page reload and normal links, but hijacked links don't rise the event. The events `window.onpopstate` and `window.onhashchange` also don't occur on hijacked link click.

Should I still implem

[2015-04-29 15:30] #44 closed

[2015-04-29 15:42] warpech commented on #46
I misunderstood the issue. Once again:

For me this would be very challenging, because turning sidebar ON would actually cause the resize and repositioning of the working area. How can I then work on a pixel-perfect layout for my window size?

[2015-04-29 15:51] warpech commented on #54
@alemoi agreed to do this

[2015-04-29 15:52] warpech commented on #33
@chrhol, could you explain or (better) give a link to a wiki page that explains it?

[2015-04-29 15:59] miyconst commented on #46
I am not sure that pixel-perfect layout is required, because the layout should work on all screen sizes. If the screen is too small, then horizontal scroll appears.

Anyway, it is just my suggestion after using layout editor for a while. Now the sidebar is movable and it remembers its position, so not that important as before.

[2015-04-29 16:11] warpech commented on #46
@mtornwall uses the layout editor in a small window (800x600), so I guess he would prefer floating tree rather than a tree that pushes the content to the side.

@mtornwall is that right?

If so, then no change needed, I suggest

[2015-04-29 16:54] warpech commented on #48
Approved

[2015-04-29 16:56] warpech commented on #53
@tomalec WDYT?

[2015-04-29 17:41] warpech commented on #44
It seems I had trouble to read with understanding yesterday. I answered "Yes" to a "X or Y" question, but I guess you could assumed that I advocate for `T` and `<>` buttons since the beginning, so what went wrong with that?

[2015-04-29 18:46] tomalec commented on #53
@miyconst 's 1. Seems cool if we cold restore dirty state for save buttons when reopening the editor.

2. Personally I do not like such prompts, but at least it is something. What about desired solution with autosaving and keeping pending setup on serverside?

[2015-04-29 18:47] tomalec commented on #54
Hurray!

[2015-04-29 18:52] miyconst commented on #44
Sidebar tree uses Polymer/core-icon, and there is no nice icon for `T` and `<>`. I tried to use the closest one, but it looks ugly.

I could try using bootstrap icons, but there is also no such icons, the closest are: `glyphicon glyphicon-text-size`, `glyphicon glyphicon-text-width`, `glyphicon glyphicon-retweet`.

http://getbootstrap.com/components/#glyphicons

Anyway, bootstrap is not even inclu

[2015-04-29 19:01] miyconst commented on #53
@tomalec, I also dislike such prompts.

About button dirty state I wrote in this issue: https://github.com/Polyjuice/Polyjuice/issues/50

[2015-04-30 05:38] warpech commented on #44
Ah, I understand.

Maybe let's use SVG for icons? Then we are free to easily replace icons when desired.

This is not urgent.

[2015-04-30 06:54] chrhol commented on #33
Thanks for the bump @warpech. I saw this issue but I forgot to answer it.

This is part of https://github.com/Starcounter/Starcounter/issues/2650 (and https://github.com/Starcounter/Starcounter/issues/2649).

You use it when you want the generated TypedJson object to be inside a specific namespace and there is no codebind-file.
Having a single "$" just means it's metadata for the root-object (meta

[2015-04-30 07:11] miyconst commented on #33
So, `$` should be used only if `*.json` file does not have codebind file and should be in a specific namespace, correct?

[2015-04-30 07:20] chrhol commented on #33
In this case, yes.

There are a few other possible paramters as well that can be specified that needs to be documented (preferable after we review it).

[2015-04-30 08:49] warpech commented on #44
Another web app that has a nice tree: https://create.goocreate.com/

![screenshot 2015-04-30 10 48 15](https://cloud.githubusercontent.com/assets/566463/7409414/946d2744-ef26-11e4-9c88-979f67c43fc8.png)

[2015-04-30 09:38] miyconst commented on #48
Done. Now juicy-highlight has new `fill` attribute: https://github.com/Juicy/juicy-highlight/commit/d0d58f3946c72f3d9a5c60647ce90ac1c1389660.

[2015-04-30 09:38] #48 closed

[2015-04-30 09:42] miyconst commented on #44
Yes, looks good, but the size is much bigger compare to what we have.

I think, we could not use that big size because of elements number and infinite nesting.

[2015-04-30 09:43] #33 closed

[2015-04-30 16:17] #38 closed

[2015-04-30 16:40] miyconst commented on #38
@tomalec could you please also commit to Launcher?

`juicy-layout-editor` changes I have already committed with some of mine changes.

[2015-05-01 16:24] alemoi opened #55 "Add active application name"
In case of middleware filters and other cases when there are several merged responses, an active one should create the `PartialId` and `AppName`.

[2015-05-01 19:32] alemoi commented on #55
Done via b7f3663756d92d08aa1bc51496752ddad016d415

[2015-05-01 19:32] #55 closed

[2015-05-01 19:32] #54 closed

[2015-05-01 19:38] alemoi opened #56 "Strange behavior when returning non-root JSON"
Running Launcher and People apps. In People application, e.g. on line Polyjuice\People\src\People\Api\MainHandlers.cs:55 returning `return master.CurrentPage;` instead of `return master;` then Launcher menu links Persons and Organizations are not "clickable". I guess its some problem with JSON patch messages there.

[2015-05-03 23:31] alemoi commented on #56
@chrhol can you please check this? Thank you!

[2015-05-04 07:47] chrhol commented on #56
I'm not sure exactly what goes wrong. I need to spend a little more time figuring out what the difference is when returning `master.CurrentPage` instead of `master`. At first glance I can't really see that it should be any different, but it obviously is since it does not work when `master.CurrentPage` is returned :)

[2015-05-04 08:01] warpech opened #57 "Default layouts in in People and Products"
Currently, People and Products apps do not load default layouts when started. @miyconst, @tomalec  could you take a look?

Starcounter 2.0.3146.3

[2015-05-04 08:18] warpech opened #58 "Content blinking on page replacement"
When a partial is replaced with another page of the same type, a short blink of an empty screen can be visible.

This can be observed when you create 2 products in Products app and switch between them with ">" and "<" button.

This has **lower** priority than https://github.com/Polyjuice/Polyjuice/issues/42.

As far as I know, at least two problems contribute to this effect:

1. `Html` path is a p

[2015-05-04 08:38] warpech commented on #56
This is of high importance. It worked ok 2 weeks ago (for example 2.0.3131.3). We can discuss this if there is some ambiguity about what is the desired behaviour. I can also investigate what is the version that broke it.

[2015-05-04 09:10] chrhol commented on #56
I think it has something to do with stepsiblings not correctly being marked as dirty, but only the parent. That is why it works when returning the root (or master).

Yes, there was a change in the responsehandling. In earlier versions we always traversed the json to the root and used that one. This was changed so we actually use the json that is returned, and then you get this bug.

I think it was

[2015-05-04 09:35] alemoi commented on #56
I suppose we should be able to return both root and non-root JSON responses. What do you think?

[2015-05-04 10:04] chrhol commented on #56
Yes I agree. I feel that I'm not entirely sure what to return from a handler though :) So it would be good to just have a clear answer on when you should return what from these "hybrid"-handlers.

[2015-05-04 14:24] miyconst commented on #57
![products-page-space-gap](https://cloud.githubusercontent.com/assets/6435556/7455142/5b2fda26-f282-11e4-91bb-e6a9eaf45926.PNG)

[2015-05-04 14:40] #57 closed

[2015-05-04 18:44] chrhol commented on #56
I've pushed a fix for this issue to develop. Lets discuss this in the office to make sure it works as we want.

[2015-05-05 07:33] dan31 commented on #12
We discussed the project structure late evening yesterday with Konstantin.

Below are our takeaways:

1) __All facilities for app standalonization would go away for inheritance from some base-class library__ (to not write those redundant pieces of if-s every time). As well, we may __add default Standalone.html and LauncherWrapper.html__ files. If the developer wants, he might change page.Html to s

[2015-05-05 07:54] miyconst commented on #12
The only one point which worries me is 2)

It is good to fetch dependencies with bower, but lets say the dependency was changed and the change broke an app, in this case we don't have a working copy of app and have to fix the app or the dependency.

[2015-05-05 08:36] warpech commented on #12
Hi! Good findings!

1) Totally agree about `StandalonePage.html`. Regarding `LauncherWrapperPage.html`, @tomalec is making efforts to get rid of it completely.

2) Can you elaborate on the good sides of it? I see 3 major problems and not a single benefit:
- if lib files are not checked in to VCS, the build script needs to check if locally installed libs are in the same version as defined in JSON f

[2015-05-05 10:21] warpech commented on #58
I talked about this with @chrhol.

Solution A, that works only with stateful pages is to replace the Data property only, if the Page did not change:

[code]

Solution B is to create a new layer in PuppetJS client that first applies the patch on a *copy* of the view-model, then computes the minimum required patch to modify the *real* view-model, by recursively replacing only the changed primitive v

[2015-05-05 13:53] chrhol commented on #56
The current solution seems to be working and it is now possible to return non-root json which will work properly. Will close this issue.

[2015-05-05 13:53] #56 closed

[2015-05-06 08:09] warpech commented on #42
@tomalec will describe the changes before proceeding

[2015-05-08 07:45] warpech commented on #37
I can feel the need, but I wonder about few things:

1. Wouldn't "Reset styles" be a better name?
2. What UI do you propose? Context menu on a tree element?
3. What about groups? Resetting a group would actually *ungroup* it and move children into original places.
4. So maybe we need 3 buttons then: "Reset styles", "Reset styles including children", "Ungroup"

[2015-05-08 09:52] tomalec commented on #37
:+1: form hall. Wat about "recursively" instead of "including children"?

[2015-05-08 11:06] dan31 commented on #12
Sadly I'm not knowledgable on practices from web dev, for me checked-in dependencies feel like committing binary files or library sources to repo. The main reason contra is that you aren't going to change and version those files yourself. In old-school version control system one could use ```svn:external``` to check-out needed dependencies from original dependencies repos when you check-out your r

[2015-05-08 16:56] miyconst commented on #37
1. Yes, Reset styles would be a better name.
2. I thought it will be another top panel button, probably next to Unhide.
3. We already have Ungroup button. Reset styles should remove all groups and any styles for the selected elements, and if it was a group, then the elements inside it will be moved to the root container.
4. As I said, we already have Ungroup button, and I don't really see the need

[2015-05-09 11:44] warpech commented on #37
Re: 3. If resetting a group ungroups it, what about the priority of elements that were in the group? Will they inherit the deleted group's priority, or retain their original priority? I think inheriting the group's priority makes sense.

But I feel that actually it makes more sense that the group should survive the reset (but not the subgroups). If I wan't to reset and ungroup, I will hit "Reset"

[2015-05-09 22:44] Starcounter-Jack commented on #37
The priority of the group majes sense

Sent from my iPhone

[2015-05-10 18:45] Starcounter-Jack commented on #12
```wwwroot``` is just the default. Read the project.json specs.

Regarding how "they" do it in 2013.

We should be looking into the future, not the past. What would 2025 be like? Not how did they do it in 2013. Looking at 2013 essentially means, how did they design it back in 2009 (as they are usually design long before you ship and they are always behind the times). We are not application develop

[2015-05-10 18:47] Starcounter-Jack commented on #12
There is no longer any ```.sln``` or ```.csproj```. This is legacy and we keep it as temporary artefacts only as long as we need to.

[2015-05-10 18:51] Starcounter-Jack commented on #12
When you browser the web for a open source app you want to dig in to, you are put of by 100 files in ```/src``` and 3 files in ```/test```, but if the app only consists of 3 files in ```/src```, you are happy even if there are a 100 files in ```/test```. Remember that our primary goal is to make things easy to comprehend and dig in to.

People already know how to add more folders. No one is going

[2015-05-10 18:53] Starcounter-Jack commented on #12
The ```wwwroot``` should be flat if there are three files. When you have hundreds of .css files, one subfolder is to few and when you have a single one, ten subfolders are too many.

[2015-05-10 18:55] Starcounter-Jack commented on #12
Any comments on the Lilliput egg wars?

[2015-05-10 19:03] Starcounter-Jack commented on #12
How can we make Barcode2 simpler, smaller and easier to grok?

[2015-05-10 19:06] Starcounter-Jack commented on #12
The advantage of ```/src```, ```/tests``` and ```/wwwroot``` is that most people would probably be able to guess what is inside them without training or reading the documentation.

[2015-05-10 19:06] Starcounter-Jack commented on #12
```.bat``` files are banned as they do not work cross platform.

[2015-05-10 19:13] Starcounter-Jack commented on #12
The package managed paths are important as we will need to be able to fiddle new applications with the customer sitting across the table. We could cache the packages on the database server as well as on www.starcounter.com to secure availability. I.e. if the original host is unavailable, we still serve the bits.

1. The browsers asks for /sys/bower/foo/1.x
2. The starcounter server gets the bits f

[2015-05-10 19:17] Starcounter-Jack commented on #12
Mapping code cannot be a part of the compiled bits.

1. The map is just the default map.
2. The map needs to be editable at runtime
3. The map needs to be in source code format as it will be used as a security layer. The database will only be readable and writeable in the aspects that are mapped in future versions of Starcounter. If the table is not mapped, it is not readable or writeable. This en

[2015-05-10 19:21] Starcounter-Jack commented on #12
I strongly believe that vendors should have standards (big or small letters? hyphens or camel case? curly-brace on new line, etc.)

However, getting opinionated on this is the way of the 90s. For this, let other people do the fighting. Please read up on the Lilliput egg wars.

[2015-05-11 05:08] miyconst commented on #37
This is interesting, I agree with @warpech, resetting a group should reset styles for elements inside and ungroup all groups inside, but the original group should stay unchanged.

[2015-05-11 07:50] warpech commented on #37
So, agreed that:
- "Reset styles" button on a group should:
  - reset the layout setup of the subject group (except priority)
  - reset the layout setup of the elements inside the subject group (including priority)
  - ungroup all groups inside (but not the subject group)
- "Ungroup" button should:
  - copy the priority of the subject group onto the elements inside the group
  - ungroup the subjec

[2015-05-11 08:21] miyconst commented on #37
But how do we know what styles are *default* for an app? This is not yet implemented, I guess.

[2015-05-11 08:47] warpech commented on #37
That can get implemented after point 1a of https://github.com/Polyjuice/Polyjuice/issues/42.

If you think that the "Reset styles" button should remove all styles without restoring the default, then it can be done now.

[2015-05-11 08:51] miyconst commented on #37
Actually, I came up with this issue when I was editing default styles of an app.

Before the last demo I had to remove an element from a page, and this broke layout, so my goal was to reset layout of that piece of html, after the reset there would not be any styles at all.

And if the reset button resets styles to its default value, then the main purpose of the issue is not accomplished.

[2015-05-11 08:59] tomalec commented on #37
Just to note, we do not require 1a. from #42 to achieve default layouts per app, we just require a place on server-side to merge juicy tiles setups for all apps.

[2015-05-11 09:00] warpech commented on #37
Agreed. Please make the "Reset styles" button (and changes to "Ungroup" button) according to the description in https://github.com/Polyjuice/Polyjuice/issues/37#issuecomment-100802905, which was updated to say that "Reset styles" means *remove all the layout information, even the default layout that came from the app*.

[2015-05-11 09:43] miyconst opened #59 "Layout editor: clear styles button does not clear background and border styles"
Steps to reproduce:

1. Start an app.
2. Select a tile.
3. Apply background color or border for the tile.
4. Save changes.
5. Refresh page.
6. Reset all styles by button or apply clean styles from source.
7. The size, priority and groups of tiles will be reset, but the border and background not.

Page reload is required to rid off the background and border, which means that the values are correct

[2015-05-11 10:30] warpech commented on #59
Approved

[2015-05-11 10:49] miyconst commented on #37
Just now tried to implement the feature, and it looks like there is no way to do it.
After short discussion with @tomalec we agreed that:

1. If a developer removes an element from a page, then he has to manually edit default styles and remove related tile-setup.
2. The *reset styles* button should ungroup all of the groups inside and revert item values to default value, but not remove styles of n

[2015-05-11 11:03] warpech commented on #37
I think the above problem is a separate issue. "Reset styles" would still be functional, but works on the tiles currently in the group, not originally in the group.

To reset all styles in a template, disregarding (and actually ungrouping) the virtual groups, I need to hit "Reset styles" on `juicy-tile-list`, don't I?

[2015-05-11 11:29] miyconst commented on #37
Okay, I do the Reset styles button.

Clear button removes styles for entire branch, not only selected group.

[2015-05-11 11:56] miyconst commented on #59
Another issue: Clear button does not work if the layout setup is not yet saved.
Steps to reproduce:

1. Open a page.
2. Clear all styles.
3. Refresh page.
4. Apply source, but not save the styles.
5. Press Clear button, nothing happens.

[2015-05-11 12:02] miyconst commented on #59
Another issue: Background color is not restored when applying source. Steps to reproduce:

1. Open a page.
2. Apply background color for a group.
3. Save styles and copy json to somewhere.
4. Refresh page and make sure that the styles are successfully apllied.
5. Clear styles.
6. Apply styles from json again.
7. The group won't have back color, if you click on a group it's property will show the b

[2015-05-11 12:21] warpech commented on #43
I searched for "fiddle" instead of "fiddler" and could not find this issue, hence I created a duplicate unintentionally: https://github.com/Starcounter/CompanyTrack/issues/67

[2015-05-11 12:25] miyconst commented on #59
All of the three issues are fixed.

[2015-05-11 12:25] #59 closed

[2015-05-11 13:17] miyconst opened #60 "Layout editor: group borders should also add padding"
Border applied to a virtual group looks wrong:
![group-border-bug](https://cloud.githubusercontent.com/assets/6435556/7565498/121808c8-f7f9-11e4-838c-cd5ad44f8a11.png)

[2015-05-11 13:30] warpech commented on #60
I think border should not add padding, but rather be applied outside the element rather than inside.

At simplest form - maybe use CSS `outline` instead of `border`?

[2015-05-11 13:43] miyconst commented on #60
How to add border to entire container then?
`outline` will go out of screen or workspace bounds.

For single elements border does add padding.
![group-border-bug](https://cloud.githubusercontent.com/assets/6435556/7565955/d4956956-f7fc-11e4-8148-55a256d6ba2a.png)

[2015-05-11 13:45] #37 closed

[2015-05-11 19:03] warpech commented on #60
@tomalec, any ideas?

[2015-05-11 19:10] warpech commented on #59
:+1:

[2015-05-11 22:02] tomalec commented on #42
Here is description of Polyjuice magic around `include-template`, and separating CSS pahse from bin-packing https://github.com/Polyjuice/Launcher/wiki/include-template-in-Polyjuice

and here on juicy-tiles behavior: https://github.com/Polyjuice/Launcher/wiki/Juicy-tiles

Comments are more than welcome.

[2015-05-11 22:27] tomalec commented on #60
Set `box-sizing: border-box;` for `.juicy-tile` and `.containerBackground` at https://github.com/Juicy/juicy-tile-list/blob/gh-pages/src/juicy-tile-list.html#L34

[2015-05-12 05:19] miyconst commented on #60
@tomalec, this does not solve the problem. Here is my css:

[code]

And here is the result:
![group-border-bug](https://cloud.githubusercontent.com/assets/6435556/7580509/3148ada2-f87f-11e4-993b-2b960973e2af.png)

I don't want to remove padding from single bordered elements, instead I want to add the same padding to groups.

[2015-05-12 08:19] tomalec commented on #60
As groups are currently purely virtual (https://github.com/Juicy/juicy-tile-list/issues/29)
I think the only solution to mimic the border are:
1. Introduce padding into packer.js calculations - in such case border will consume inner space of group.
2.  Use `.content` (former `.innerHTML`) or it's logic to provide border outside of a group - consuming the gap of outer container. Bu consuming `.cont

[2015-05-12 09:53] warpech commented on #60
Can you explain to me what's wrong with using CSS `outline`? (Other than that you cannot specify `outline-left`, `outline-top`, etc). I tried it and got quite good results for it, at first impression:

![screenshot 2015-05-12 11 51 57](https://cloud.githubusercontent.com/assets/566463/7584385/6e02329a-f89d-11e4-9c70-2653823e4435.png)

If outline overlaps with workspace edge or another element, tha

[2015-05-12 11:19] miyconst commented on #60
@warpech and me discussed this issue a little bit and we came to conclusion that `outline` would cover more needs than `border`. That is why current `border` property should be replaced with `outline` and later when we have some solution for padding add another `border` picker.

[2015-05-12 11:21] warpech commented on #60
Let's just rename this feature to "Outline" to avoid confusion all over.

[2015-05-12 13:07] miyconst commented on #60
Done. This is what I was able to achieve with some styling and hacking.
![outline](https://cloud.githubusercontent.com/assets/6435556/7587691/e7af2404-f8c0-11e4-8de9-8f52e8fccd60.png)

[2015-05-12 13:07] #60 closed

[2015-05-12 13:35] Starcounter-Jack commented on #60
We use gaps rather than margins. This means that borders are typically outside of the content container (they bleed into the gap space).

I.e. If the child container is 100px x 100px and the gap between siblings to the child is 10px, the border eats into the gap. I.e. the border width does not change the size of the contained content which will remain at 100x100. This also solves the double spacin

[2015-05-12 15:14] warpech commented on #60
Well put @Starcounter-Jack.

It works like that already thanks to @miyconst :+1:

[2015-05-12 16:05] warpech commented on #16
I think this issue was wrong. Maintaining a single issue board has other problems - mixing of issue concerns.

To search issues in different repos use GitHub Advanced Search:

- [Polyjuice open issues, from newest](https://github.com/search?l=&o=desc&q=user%3Apolyjuice+state%3Aopen&ref=advsearch&s=created&type=Issues&utf8=%E2%9C%93)
- [Juicy open issues, from newest](https://github.com/search?l=&o

[2015-05-12 16:05] #16 closed

[2015-05-12 16:13] tomalec commented on #51
Fix together with new PartialId

[2015-05-12 16:13] #51 closed

[2015-05-13 07:37] tomalec commented on #42
Speeking on 1b. I found a reason why it does not make much sense.
Example:
We do have tiles A,B,C,D to arrange within container (group, or root container). Width of all of them is given in fractions:

1. A: 1fr
2. B: 2fr
3. C: 1fr
4. D: 3fr

Should we then lay them out like:
[code]
as there is no rule that would stop us from putting hundreds of tiles into first row?

Therefore I would suggest use

[2015-05-13 09:37] warpech commented on #42
I don't care that much about what is the unit, but to remind what is possible right now:

Percentage widths, relative to the parent:

tile 50% width of the parent | tile 50% width of the parent
-------|-------

Pixel widths, absolute:

tile 200px width | tile 200px width
-------|-------

Pixel widths and percentages combined:

tile 200px width | tile 50% width of the parent (not useful at all, bec

[2015-05-13 09:44] tomalec commented on #42
The term "available space" is the problem. On input (before packing) what would you call "the space"? During packing we need strict sizes: fixed, or at least relative to the container we are packing into.

[2015-05-13 09:50] warpech opened #61 "Fractions in layout"
What is possible right now:

Percentage widths, relative to the parent:

tile 50% width of the parent | tile 50% width of the parent
-------|-------

Pixel widths, absolute:

tile 200px width | tile 200px width
-------|-------

Pixel widths and percentages combined:

tile 200px width | tile 50% width of the parent (not useful at all, because it can only work in a predictable way if the parent widt

[2015-05-13 09:59] tomalec commented on #61
I would say that the goal you specified here is to applicable to juicy-tile-list. The term "available space" is the problem. On input (before packing) what would you call "the space"? What packing tries to do is to make no "space left". During packing we need strict sizes: fixed, or at least relative to the container we are packing into.

[2015-05-13 10:01] tomalec commented on #61
Therefore I would suggest use of fixed px and percentages in input (JSON), and consider fractions or at least percentages as output (CSS)

[2015-05-13 10:05] tomalec commented on #61
So we should not talk about "space left" but rather on behavior when container size changes.

We will be extremely precise when defining setup for backing, and state how tiles shold relate to parent size on runtime(output css for grid)

[2015-05-13 10:07] tomalec commented on #42
Discussion on fractions is at https://github.com/Polyjuice/Polyjuice/issues/61

[2015-05-13 15:15] #28 closed

[2015-05-14 19:41] miyconst commented on #32
@warpech how exactly it should look in SignIn App?

I would like to make SignIn app be able to run standalone before we add some more features.

[2015-05-14 19:45] miyconst commented on #17
Some time ago @warpech disagreed with `me` variable in JavaScript code. I agreed to use `that` instead of `me`.

Updated wiki page.

I guess, there is nothing more I can do without discussion with other developers.

[2015-05-19 00:00] tomalec commented on #61
Short description of responsive design workflow for juicy-tile-grid:
https://github.com/Juicy/juicy-tile-grid/wiki/How-to-create-responsive-design-with-Juicy-elements

And my proposition of "expandable" feature, that uses fixed sizes as input and fractions as output:
https://github.com/Juicy/juicy-tile-grid/wiki/More-on-expandable-size

[2015-05-20 16:52] miyconst commented on #46
Okay, I also got used to its current state.

[2015-05-20 16:52] #46 closed

[2015-05-21 12:35] warpech commented on #49
The same rule should apply to "Revert" button. It should revert all juicy-tile-grids that are in dirty state.

[2015-05-21 15:17] miyconst commented on #49
This issue can be closed after https://github.com/Polyjuice/Launcher/issues/126 is done.

[2015-05-31 21:31] tomalec commented on #25
@warpech, @miyconst Please note that now all apps should use [`<polyjuice-include>`](https://github.com/Polyjuice/polyjuice-include). So in standalone mode it will fallback to `imported-template`, while in Launcher it will get enhanced with layout management.

[2015-06-01 08:40] warpech commented on #25
@miyconst could you migrate the apps to use `<polyjuice-include>`?

[2015-06-01 09:15] miyconst commented on #25
Sure.

[2015-06-01 10:05] miyconst commented on #25
https://github.com/Polyjuice/Procurement/commit/420201fd8b3fab7baa5bd0d59f48c9876802ad1b

[2015-06-01 10:30] miyconst commented on #25
Barcodes, Images, People, Procurement, Products, Skyper, `launcher-root-partial` replaced with `polyjuice-include`.

[2015-06-02 07:54] miyconst commented on #53
I think the prompt is not necessary, @warpech, @tomalec, close the issue if so, please.

[2015-06-02 11:18] warpech commented on #53
I agree a prompt would be annoying after all. Different cog color would be better.

[2015-06-02 11:18] #53 closed

[2015-06-03 18:13] tomalec commented on #25
Sorry guys, but I have changed `<polyjuice-include>` so it does no longer work without `partial` attribute.

So all `<polyjuice-include>`s need to be changed, to `<polyjuice-include partial="{{}}">` or `<polyjuice-include partial="{{Page}}">`

It's not only to make code more declarative and explicit, but also to avoid infinite loop, for `<polyjuice-include>` that includes `<polyjuice-include>`, pl

[2015-06-04 09:44] miyconst commented on #25
Barcodes, Images, Procurement, Products, Skyper, Chatter these apps have been updated.

[2015-06-12 10:07] warpech opened #62 "Pattern for combining Save, Cancel buttons"
As asked by @andwah:

One idea that I heard was that maybe there should be some events for `Page` like `OnSave`, `OnCancel`. A Save or Cancel button would execute this handler for current page as well as sibling and child pages.

[2015-06-12 10:09] warpech commented on #13
1. moved to a separate issue https://github.com/Polyjuice/Polyjuice/issues/62

2. Any proposals how to wrap this as a general issue? Maybe the pattern that you described is actually OK?

[2015-06-12 10:09] warpech commented on #62
Related: https://github.com/Starcounter/Starcounter/issues/2697

[2015-06-12 10:12] warpech commented on #30
Shared DLL is not a way to go. Using commit hooks is a way to go. Can this be closed?

[2015-06-12 10:13] warpech commented on #35
I didn't see this error recently. Can this be closed?

[2015-06-12 10:16] per-samuelsson commented on #15
@warpech wrote:

Not sure which item you refer to, but it seems [1] need to be done in the weaver, and if so, sure, I can do it. Minus that I'm note sure if we can rely back to the name of the source code (the weaver operates on compiled code), but I'm sure we can work something out based on assembly, class naming, or whatever.

[2015-06-12 10:24] warpech commented on #15
Agreed, this issue is an umbrella that should be divided into subissues:

1. is something for @alemoi (after 2 and 3 is finished). Probably should be done as a warning first, later changed to an error.
2. is something for @per-samuelsson
3. is something for @miyconst (after 2 is finished)

Should I create an issue in Starcounter for 2?

[2015-06-12 10:31] per-samuelsson commented on #15
I wrote about **1**, not 2? :ghost: Did you confuse stuff? How can we do **1** without involving weaver?

[2015-06-12 10:32] per-samuelsson commented on #15
https://github.com/Polyjuice/People/blob/master/Server/OntologyMap.cs

Btw, both these seem broken. Or do I not have neccessary permissions?

[2015-06-12 10:45] warpech commented on #15
My bad. Both 1 and 2 are for you, correct? I've fixed the links.

[2015-06-12 10:46] andwah commented on #4
Where does this text exist?, i can not find it.

a screenshot would be nice

[2015-06-12 10:47] per-samuelsson commented on #15
**1**, sure. **2**, not equally sure.

[2015-06-12 12:45] miyconst commented on #30
We can close this issue, not because of commit hooks, but because we refuse to let apps know about each other. Though I don't see how would SignIn app know about GoogleSignIn if they both would use a `.dll`.

I don't want to copy paste same code among apps, and commit hooks don't solve this issue.

[2015-06-12 12:46] miyconst commented on #35
Yes.

[2015-06-12 12:46] #35 closed

[2015-06-12 18:46] dan31 commented on #30
Guys, let's get back to basics of the need – not to copy and paste the code. If I develop multiple applications as a single vendor, I would definitely do have shared code bits. How we can achieve that? I know I can *include the same source code file(s) into projects of each of the apps*. Then, once I have a mapper, it will be possible to include my shared mappers the same way. Today, as I recall,

[2015-06-12 19:10] dan31 commented on #4
@andwah, naming has been reconsidered multiple times since Dec 2014 (I won't detail in that issue). Let's recap on recent Polyjuice meeting, please bump it (I see 4 issues regarding the installer). We will also have to adjust installer, which says that Starcounter is a database.

[2015-06-12 19:29] dan31 commented on #15
@warpech, we now have 3 things: map, ontologymap, and POC-mapping emerging by @per-samuelsson and @alemoi. Shall we spend a quant of time together and define what is what in glossary, with a kind support from @Starcounter-Jack?

[2015-06-12 22:28] alemoi commented on #15
Regarding the first one its not much work and its on me :)

[2015-06-15 05:52] miyconst commented on #30
Why we cannot share a .dll between the apps? Even if I have some c# files to share, when copy-paste to an app, it should be namespaced inside that app. Next time I have to add some changes, I have to do that in multiply places. This is what I tried to avoid.

By the way, the code we are talking about does not have any db classes. I wanted to share the code for:

1. Check if session authenticated b

[2015-06-15 06:14] per-samuelsson commented on #15
Really? How can that be done if not in the weaver?

[2015-06-15 07:30] warpech commented on #30
My (and I believe Dan's) thinking is: Starcounter eliminates the need for glue code. In case of *SignIn apps, we want to shrink the amount of code needed to log in a user, by first identifying what is that code and then how could we express it simpler.

As input, SignIn app uses username and password, GoogleSignIn uses external OAuth provider.
As output, they both have their own database classes t

[2015-06-15 07:35] miyconst commented on #30
This is exactly what I was looking for. Those methods will be used not only by SignIn apps, but also all other apps which wanna check which user is signed in if signed in at all.

[2015-06-15 08:22] alemoi commented on #15
I thought I would compare app name when "Polyjuice.Map" is called and if it ends with ".map" then no exception, otherwise exception.

[2015-06-16 14:23] miyconst commented on #62
I think that:

1. Response for requests with `CallLevel > 1` should never contain a Save/Cancel button.
2. Save button should does nothing but commit transaction.

In this case the end result will never depend on which button was pressed.

If we are going to introduce some page events, then `Saving` and `Validating` would be good. The `Cancelling` event does not have much sense, as it may never oc

[2015-06-17 10:14] warpech commented on #62
Re 1: Tempting! @Starcounter-Jack, WDYT? This surely would have radical implications in application UX. I am not sure if the world is ready for that but it is worth considering!

Re 2: We discussed this briefly yesterday with @Starcounter-Jack, and the suggestion was as well that `Save` button should do nothing more then commit a transaction (`Cancel` - roll back a transaction).

As a positive sid

[2015-06-17 14:36] miyconst commented on #62
Maybe I am completely wrong, but one page should run in scope of only one transaction. When we do `Self.GET` inside a transaction, what would be the transaction for the page created? I guess it would be the same transaction.

So, how could there be multiply long running transactions on the same page?

I agree to don't redirect on `Save`/`Cancel` button click, though I like this behaviour.

Why wou

[2015-06-18 11:06] warpech commented on #15
Regarding 1, do you have an agreement how to do this?

Regarding 2, I have few questions:

a) Does the map file need to be copied to the same path as .exe? Can `C:\Polyjuice\ProjectName\bin\debug\ProjectName.exe` weave `C:\Polyjuice\ProjectName\ProjectName.map.cs`? In future, I would like to specify the map file(s) in `project.json`
b) Will I be able to load arbitrary maps (from custom files) in t

[2015-06-18 11:37] warpech commented on #1
Currently, the file name is `Starcounter-Polyjuice-DevelopNightlyBuilds-2.0.3196-Setup.exe`. It should be `Polyjuice-DevelopNightlyBuilds-2.0.3196-Setup.exe`.

In other words, let's not introduce the installer as "Polyjuice edition of Starcounter". It is proudly "Polyjuice", of which Starcounter is just a humble core component.

Just as when you are installing Chrome, the installer is called `Chro

[2015-06-18 11:39] warpech commented on #3
@miyconst could you check if this is still reproducible? I couldn't reproduce it

[2015-06-18 11:50] warpech commented on #4
I tested both the current version and the version from Dec 10, 2014. In both cases this text is displayed in the UAC dialog:

![installer-1](https://cloud.githubusercontent.com/assets/566463/8230453/9fe54334-15c0-11e5-9b56-42395c37e1d9.png)

I couldn't find this text in any context other than the UAC dialog.

[2015-06-18 12:04] warpech commented on #4
@dan31 I converted your comment into a separate issue: https://github.com/Starcounter/Starcounter/issues/2782. Please comment there if you wish

[2015-06-18 12:09] miyconst commented on #3
@warpech how can I check it? I don't have access to the `2.0.608.3`. Just now installed/uninstalled a couple of times different versions, no issue so far.

Also I have never met such error.

[2015-06-18 12:25] warpech commented on #3
By "still reproducible" I mean the current version (2.0.3226.3).

I am also not able to reproduce it, even when providing an unexisting path to the installer (`C:\aaa\bbb\db`, while `C:\aaa` does not exist). The installation went fine.

Closing as not reproducible anymore.

[2015-06-18 12:29] warpech commented on #3
Reopening, because I would like @andwah to check if he is able to find any suspicious code in the installer, even though for us it is not reproducible. As an essay says, ["Trust the anecdote"](http://www.codypowell.com/taods/2015/06/trust-the-anecdote.html)

@andwah please close this if you cannot find possible error in code

[2015-06-18 12:30] warpech commented on #2
This is still valid

[2015-06-18 13:42] dan31 commented on #2
So, what is defined now (and will be printed, signed and hang on the wall):
* Starcounter is in-memory app engine (we originally had "in-memory application platform, that has been adjusted to "in-memory app engine", which is shorter and more concise);
* Polyjuice is the cloud and the marketplace.

So, guys, Polyjuice is not an application server! We decided to have one installer, and that installe

[2015-06-18 15:35] andwah commented on #3
I can confirm that this is still valid, i manage to force this exception.  ill take a look

[2015-06-25 13:44] warpech opened #63 "Fix "partial.* for polyjuice-include is missing" warnings"
There is plenty of warnings in Launcher.

@tomalec: What is the reason for them? Can you propose a solution?

![image](https://cloud.githubusercontent.com/assets/566463/8355650/a7ef8298-1b50-11e5-98b8-750a0c1887a0.png)

[2015-06-25 15:11] tomalec commented on #63
The reason is that, the given partial does not have `.PartialId`, and `.Html` properties ;) The soulution would be to add ".Html" property to the main partial, at:
- [ ] https://github.com/Polyjuice/Launcher/blob/de655977fe93f4d69938baee0c5b968ab5efad21/src/Launcher/viewmodels/Launcher.json.cs#L26
- [ ] https://github.com/Polyjuice/Launcher/blob/f73c2dbb50787b1bbde8df4cb5488622d2df79f9/src/Launche

[2015-06-25 15:16] warpech commented on #63
Cool! @miyconst could you try that?

[2015-06-26 11:06] miyconst commented on #63
Well, I managed to rid off the warnings, but this adds two more empty html files and requests.

`Launcher.searchBar.preview` is nested from `Starcounter.Page` and has its own empty html page (`SearchPreviewPage.html`). Same for `Launcher.results` with `ResultPage.html`.

@warpech, @tomalec, if this is okay, then close the issue, please.

[2015-06-29 13:17] warpech commented on #63
These empty HTML files get merged to the responses from other apps, so they don't create additional requests, right?

Closing then, thanks!

[2015-06-29 13:17] #63 closed

[2015-06-29 14:48] tomalec commented on #63
They do create additional (browser->server) request, if there is no other app response, we will ask for this empty html. Speaking of internal SC requests there will be no additional request as there were already `Self.GET`, but previously it returned nothing, and now it will always return path for empty HTML to be requested by `polyjuice-include`.

[2015-06-29 16:21] warpech commented on #63
Acknowledged, thanks :)

[2015-06-30 09:43] warpech commented on #61
Fractions in juicy-tile-grid are discussed here: https://github.com/Juicy/juicy-tile-grid/issues/8

[2015-07-01 21:14] dan31 commented on #30
I try to summarize there a little bit, since we are onto important point of methodology. So, the way of sharing code (read – sharing logic) in Polyjuice way is to add this shared code to classes of your local model and/or your part/domain of outer rings in SO (upper model). For our case, Simplified is our local model that we build applications with, and we extend it with our needed shared logic. C

[2015-07-01 21:31] dan31 commented on #12
@warpech, what are the plans for restructuring apps code for no-glue simple structure?

[2015-07-04 11:40] warpech commented on #30
Yes, this is the desired way. But then how do we send sign in/sign out information between shared classes? We need to provide an example using db mapping. @miyconst can you try to do that?

[2015-07-05 09:28] miyconst commented on #30
@warpech we already have this with the commit hooks.

This is how I see it:

Each app which depends on sign in/out subscribes to commit hook for `SystemUserSession` class.

The `SystemUserSession` class has a static method, something like `bool CheckSession(string SessionId)` or `List<SystemUserRole> GetSessionRoles(string SessionId)`.

Inside the commit hook each app checks the session providing

[2015-07-10 16:06] tomalec commented on #42
There is one thing worth discussion in https://github.com/Juicy/juicy-tile-grid/issues/12
"4. Tight groups" collides with "3.2. Separate Custom Elements with pure CSS config.."

[2015-07-20 10:02] miyconst commented on #17
I came across a presentation about JavaScript code: https://www.youtube.com/watch?v=JVlfj7mQZPo

It's not that I really like it, but some of the points are very reasonable. The presentation mentions ESLint as a code checker, it has predefined set of rules: http://eslint.org/docs/rules/.

The list is quite big, but I like the idea of having some rules and following them by entire team.

cc @warpech

[2015-07-20 10:06] tomalec commented on #17
I think we should prepare our own jscs -  http://jscs.info/  keep it in a repo, and use  it in our editors.

[2015-07-20 10:19] miyconst commented on #17
+1 for jscs.info.

[2015-07-20 10:21] miyconst commented on #17
We might consider using some for those new/crazy staff added to ECMAScript 6, as we are targeting for the most recent and future proof solutions.

[2015-07-20 11:32] tomalec commented on #17
@warpech, @miyconst how about HO, in which we would go through rules list for jscs and setup one for us?

[2015-07-20 15:13] miyconst commented on #17
Would be great.

[2015-07-20 15:46] miyconst opened #64 "Fix default styles to use new juicy-tile-grid"
Default styles of those applications should be reworked to work with the new juicy-tile-grid:

- [x] Barcodes
- [x] Chatter
- [x] Images
- [x] People
- [x] Procurement
- [x] Products

[2015-07-21 07:42] warpech commented on #17
We need to have something that applies to all of us. The most of JS code is in PuppetJS. There is plenty of JS in Web Components. Can ESLint and JSCS check HTML files for JavaScript?

Since @tomalec wrote the most of JS that we have, I propose that he creates the settings for JSCS and sends them for @miyconst and me for acceptance. Can the settings for ESLint be saved in a single file as well?

Pl

[2015-07-22 18:26] miyconst opened #65 "Status code: 1011. Reason: Property 'juicyTilesSetup' is readonly."
Where this issue came from? I just was trying to save layout setup and get this:

[code]

Not able to reproduce the issue though.

[2015-07-23 00:14] tomalec commented on #61
Implemented, as described in juicy-tile-grid pages

[2015-07-23 00:14] #61 closed

[2015-07-23 07:33] chrhol commented on #65
I made some changes in which patches to the server were ignored and which patches returned errors. This is one that previously was ignored, trying to send a patch on a property that is readonly.

Is the JuicyTiles setup modified using patches now? If so the property should be made editable.

[2015-07-23 07:43] miyconst commented on #65
Thank you for the explanation, the juicy setup is saved with REST API.

Looks like something caused a change in the object, but I could not figure out what was that.

Closing the issue for now, will open it again if found how to reproduce it.

[2015-07-23 07:43] #65 closed

[2015-07-24 16:20] miyconst commented on #64
Chatter and People applications got some adjustments, but the styles do not work well. Need some help from @tomalec.

[2015-07-27 15:45] miyconst commented on #64
People app is now fixed with @tomalec's help. https://github.com/Polyjuice/People/commit/4199f5f27c36dc1559c0c38f49e2f83565d136a4

[2015-07-27 16:36] #64 closed

[2015-08-04 15:52] warpech commented on #58
As discussed on today's meeting, we need to work on improving this FOUC (flash of unstyled content) effect.

The two known potential reasons are enlisted in the first message of this thread. What can be done about it:

1. we can try inlining HTML in JSON as see how much that helps
2. I don't know, maybe that's fixed now. @tomalec?

@miyconst, @tomalec - can you think of any other possible reasons?

[2015-08-25 10:00] miyconst opened #66 "Change page title on navigation"
Right now all of the Polyjuice app running inside Launcher has same page title _Launcher_.

Each app should be able and should set its own title to enhance user experience and usage tracking in Google Analytics.

cc @warpech, @tomalec

[2015-09-16 12:37] warpech commented on #30
I agree this is the way to go.

[2015-09-16 14:07] miyconst commented on #30
Okay, then I assign it on me with low priority.

[2015-09-16 16:19] warpech opened #67 "Lazy loading of partials"
Moved: https://github.com/Starcounter/Starcounter/issues/2894

[2015-09-16 16:20] #67 closed

[2015-09-18 15:38] warpech opened #68 "Rename Polyjuice org to StarcounterSamples"
Few days from now Polyjuice organisation will be renamed to StarcounterSamples.

According to GitHub Help:

- You will need to update your local repositories to point to the new location.
- Renaming may take a few minutes to complete.

Any objections?

[2015-09-22 09:38] warpech commented on #68
Scripts in https://github.com/Polyjuice/Tools will need to be updated

[2015-09-25 16:53] warpech opened #69 "Can all code in this repo be now removed?"
@alemoi please do so if yes

[2015-09-25 16:54] warpech commented on #69
But keep the repo for issues

[2015-09-25 17:30] warpech commented on #15
Any chance of completing this before CodeNight (15 October)

[2015-09-30 11:19] warpech commented on #68
Redirections for web and Git access will be created automatically.

But in Git you will get warnings until you change your remote config by calling:

[code]

More info: https://help.github.com/articles/changing-a-remote-s-url/

[2015-09-30 14:22] dan31 commented on #15
Mappings are in separate .cs file, @alemoi will provide an example.

[2015-09-30 15:14] warpech commented on #68
Done

[2015-09-30 15:14] #68 closed

[2015-10-01 09:53] miyconst opened #70 "Check & update default setups for all sample apps"
- [x] AppStoreClient
- [x] Barcodes
- [x] Chatter
- [x] Images
- [x] People
- [x] Procurement
- [x] Products
- [x] Welcome

[2015-10-01 13:02] #70 closed

[2015-10-04 15:48] alemoi commented on #69
Can one remove and keep issues? "This will permanently delete the StarcounterSamples/Polyjuice repository, wiki, issues, and comments, and remove all team associations."

[2015-10-05 16:07] warpech commented on #69
I don't mean remove the repo. I only mean delete the files (except README.md - this file can stay) and push to the repo.

[2015-10-07 10:57] warpech opened #71 "Replace concepts.ring2.vendible in apps"
Replace the instances of `concepts.ring2.vendible` with appropriate Simplified Product mapping:

- https://github.com/StarcounterSamples/Images/blob/master/src/Images/Api/MainHandlers.cs
- https://github.com/StarcounterSamples/Products/blob/master/src/Products/Api/OntologyHooks.cs
- https://github.com/StarcounterSamples/Barcodes/blob/master/src/Barcodes/Api/OntologyHooks.cs
- https://github.com/St

[2015-10-07 12:39] warpech opened #72 "Remove Starcounter.Node reference from demos"
There is a lot of demos that keep reference to Starcounter.Node, which does no longer exist:

https://github.com/search?utf8=%E2%9C%93&q=user%3Astarcounter+user%3Astarcountersamples+node+filename%3Acsproj&type=Code&ref=searchresults

[2015-10-07 12:40] warpech opened #73 "Only few sample apps use starcounter-include"
Only few sample apps use `starcounter-include`. Other apps use `<template is="imported-template">`. I think all samples should be upgraded to `starcounter-include` to avoid confusion.

@tomalec, @miyconst WDYT?

[2015-10-07 13:42] warpech opened #74 "Remove Polyjuice info from package.conf"
Currently, almost all sample apps have the following info in package.conf:

[code]

The word Polyjuice should be replaced with StarcounterSamples.

Affected files: https://github.com/search?utf8=%E2%9C%93&q=user%3Astarcountersamples+filename%3Apackage.config+polyjuice&type=Code&ref=searchresults

[2015-10-07 14:17] alemoi commented on #15
Linking here the issue related to usage of external assemblies in .map.cs files: https://github.com/Starcounter/Starcounter/issues/2829

A usual case is to use some app class inside .map.cs file, for example, when mapping Products application, we want to use class Product inside .map.cs.
We will have a meeting in order to decide how to proceed further.

[2015-10-07 21:54] tomalec commented on #73
Agree, unless there is a reason. E.g. demo of Starcoutner's flexibility, or conscious disabling SC features.

[2015-10-08 07:04] miyconst commented on #73
Also agree. InvoiceDemo could be left with `imported-template`, because it does not require `juicy-tile-editor` and it would be difficult to explain that many Starcounter features in the very first demo.

[2015-10-08 07:16] warpech commented on #73
I don't agree. It is even more difficult to explain why someone needs to change to `starcounter-include` after he was first introduced to `imported-template`.

If we show `starcounter-include` from the beginning (and give a link to a page that summarizes its features), then we will not have problems that someone is using `imported-template` and asking why does his page stopped to show up when he s

[2015-10-08 07:51] miyconst commented on #73
Okay, then let's replace all of the `imported-template` with `starcounter-include`.

[2015-10-08 09:37] warpech commented on #15
It is not required for CodeNight. Removing CodeNight label. It is better to have a good solution that takes longer to make.

[2015-10-19 14:44] miyconst commented on #30
The sign in methods are now moved to `Simplified.Ring3.SystemUser` class.

[2015-10-19 14:44] #30 closed

[2015-11-04 15:03] warpech commented on #71
@miyconst could you do this?

[2015-11-05 12:45] warpech commented on #72
@miyconst could you please do it and rerelease the apps? Might be related to https://github.com/StarcounterSamples/UserAdmin/issues/9

[2015-11-05 12:46] warpech commented on #72
@alemoi in what Starcounter version was Starcounter.Node removed?

[2015-11-05 13:20] alemoi commented on #72
Was made very long time ago actually, with some applications adopted but not all apparently.
Here it was mentioned: http://starcounter.io/nightly-changes/list-breaking-changes-starting-build-2-1-1-3/

Should not case the problems for https://github.com/StarcounterSamples/UserAdmin/issues/9 however, since all other applications that still reference Starcounter.Node are built fine without errors.

[2015-11-05 16:08] miyconst commented on #72
Apps to fix:

- [ ] Starcounter/ProcurementDemo
- [ ] StarcounterSamples/Notes
- [ ] StarcounterSamples/Chatter
- [ ] StarcounterSamples/Billing
- [ ] StarcounterSamples/Noise
- [ ] StarcounterSamples/Skyper
- [ ] Starcounter/Squared
- [ ] StarcounterSamples/Barcodes
- [ ] StarcounterSamples/People
- [ ] StarcounterSamples/Polyjuice
- [ ] StarcounterSamples/Enecto
- [ ] StarcounterSamples/Products

[2015-11-09 11:52] #71 closed

[2015-11-09 11:52] miyconst commented on #71
Replaced with `Simplified.Ring3.Product`.

[2015-11-10 18:23] warpech opened #75 "Add ~ operator to Stracounter dependency in package.config of the sample apps"
Currently, most of sample apps appear outdated in Administrator:

![screenshot 2015-11-10 19 21 27](https://cloud.githubusercontent.com/assets/566463/11071275/419392da-87e0-11e5-80da-ce5ee6400554.png)

I propose to update all the sample apps to use current stable `~2.1.177` (if they work with current stable).

It was already done in UserAdmin: https://github.com/StarcounterSamples/UserAdmin/blob/m

[2015-11-11 07:49] miyconst commented on #72
@warpech can this be closed as all current repositories are updated?

[2015-11-11 08:53] warpech commented on #72
Yes, thank you!

[2015-11-11 08:53] #72 closed

[2015-12-08 15:01] warpech commented on #75
As @andwah pointed out to me today, ~ is a convention used by NPM and Bower, but this is not a convention in Microsoft world (see https://github.com/aspnet/dnx/issues/1014). There was some initial work on it but seems to be dropped: https://github.com/aspnet/dnx/pull/1057

In NuGet the Maven syntax is used. More specifically:

- [`packages.config`](https://docs.nuget.org/create/versioning) uses `2

[2015-12-08 15:02] warpech commented on #69
Since there is no answer, I assume yes. I will push a change to delete all code and see what happens.

[2015-12-08 15:05] #69 closed

[2015-12-08 15:06] warpech opened #76 "Move Polyjuice repo back to Polyjuice organisation"
Move Polyjuice repo back to Polyjuice organisation. Otherwise we may lose that organisation because it is empty now.

[2015-12-08 15:11] warpech commented on #76
Done

[2015-12-08 15:11] #76 closed

[2015-12-08 16:48] andwah commented on #75
I think the Maven syntax is easier to understand.

[2015-12-09 09:38] warpech commented on #75
I think that Maven syntax is easily confusing, because in Maven syntax, `2.1.177` means that your app is compatible with any future Starcounter version. I think we wanted to avoid that? Since we know that Starcounter 2.2.0 will be a breaking change (otherwise we would not bump the number), the app should be tested and rereleased with that version.

[2016-03-02 18:19] miyconst commented on #17
Closing this issue as too old.

[2016-03-02 18:19] #17 closed

[2016-06-22 14:17] warpech commented on #1
Closing as outdated. We are not using the word Polyjuice at all right now

[2016-06-22 14:17] #1 closed

[2016-06-22 14:46] warpech commented on #3
@andwah, can this issue be closed now?

[2016-06-22 14:46] warpech commented on #3
Closing as outdated. We are not using the word Polyjuice at all right now

[2016-06-22 14:47] warpech commented on #2
Closing as outdated. We are not using the word Polyjuice at all right now

[2016-06-22 14:47] #2 closed

[2016-06-22 14:57] warpech commented on #4
I just checked. Exactly the same text ("Starcounter Components") still appears in Windows UAC dialog before installation in Windows 10.

[2016-06-22 15:04] warpech commented on #13
2 . Moved to a separate issue https://github.com/Starcounter/RebelsLounge/issues/35

Closing this issue

[2016-06-22 15:04] #13 closed

[2016-06-22 15:06] warpech commented on #42
Closing as not relevant anymore. Layout editing priorities are now tracked in https://github.com/Starcounter/RebelsLounge/issues/32

[2016-06-22 15:06] #42 closed

[2016-06-22 15:06] warpech commented on #58
This was fixed long time ago with other fixes

[2016-06-22 15:06] #58 closed

[2016-06-22 15:10] warpech commented on #74
This is done since December

[2016-06-22 15:10] #74 closed

[2016-06-22 15:12] warpech commented on #14
Archiving

[2016-06-22 15:12] #14 closed

[2016-06-22 15:24] warpech commented on #73
This issue is still valid.

[GitHub search](https://github.com/search?p=4&q=imported-template+sys+filename%3A.html+user%3AStarcounter+user%3AStarcounterSamples+user%3AStarcounterPrefabs+user%3AJuicy+user%3AStarcounter-Jack+user%3APuppetJs+user%3ASmorgasbord-Development&ref=searchresults&type=Code&utf8=%E2%9C%93)

List of files that need to be updated:

- https://github.com/StarcounterPrefabs/Launc

[2017-05-17 14:37] warpech commented on #3
Closing. If this was still an issue, it would be reported in Starcounter repo.

[2017-05-17 14:37] #3 closed

[2017-05-17 14:40] warpech commented on #4
Closing as not that relevant

[2017-05-17 14:40] #4 closed

[2017-05-17 14:41] warpech commented on #15
@alemoi where are we on this? I would like to close this repo and move this task to Starcounter issue tracker.

[2017-05-17 14:42] warpech commented on #25
All of the above apps are either updated or discontinued. Closing

[2017-05-17 14:42] #25 closed

[2017-05-17 14:43] warpech commented on #32
Traces of JSON Web Token POC are in SignIn app. This issue can be considered done.

[2017-05-17 14:43] #32 closed

[2017-05-17 14:46] warpech commented on #43
Closing in favor of https://github.com/Starcounter/CompanyTrack/issues/67

[2017-05-17 14:46] #43 closed

[2017-05-17 14:47] warpech commented on #49
Closing this issue, because it was regarding the discontinued old layout editor.

[2017-05-17 14:47] #49 closed

[2017-05-17 14:47] warpech commented on #50
Closing this issue, because it was regarding the discontinued old layout editor.

[2017-05-17 14:47] #50 closed

[2017-05-17 14:48] warpech commented on #52
I believe that this is fixed now. If that is not correct, pls make a new issue in the Starcounter issue board.

[2017-05-17 14:48] #52 closed

[2017-05-17 14:50] warpech commented on #73
Right now all apps that are not in StarcounterAppsFreezer make proper use of `starcounter-include`. Closing as done

[2017-05-17 14:50] #73 closed

[2017-05-17 14:51] warpech commented on #75
Closing as no longer relevant. Otherwise, pls start a new discussion in Warehouse repo

[2017-05-17 14:51] #75 closed

[2017-05-17 14:55] warpech commented on #66
Closed in favor of https://github.com/StarcounterApps/KitchenSink/issues/131

[2017-05-17 14:55] #66 closed

[2017-05-17 15:01] warpech commented on #12
To answer the above, most of the above points are done now.

Further progress is tracked in https://github.com/Starcounter/Guidelines (issues and gitbook)

The part regarding the client package management is moved to https://github.com/Starcounter/RebelsLounge/issues/114

[2017-05-17 15:01] #12 closed

[2017-05-17 15:04] warpech commented on #15
I suppose that the current solution is that:

- `Blender.MapUri` is actually hardcoded in the app and refers to the internal data model used by the app. Any changes to `Blender.MapUri` must be requested from at the app author.
- Apps that come from other vendors will have their data models translated thanks to the data mapping, which makes possible to blend apps that use different data models

[2017-05-17 15:05] warpech commented on #15
I suppose that the current solution is that:

- `Blender.MapUri` is actually hardcoded in the app and refers to the internal data model used by the app. Any changes to `Blender.MapUri` must be requested from at the app author.
- Apps that come from other vendors will have their data models translated thanks to the data mapping, which makes possible to blend apps that use different data models

@to

[2017-05-17 16:48] tomalec commented on #15
AFAIK that what we aim for.

:+1:

[2017-10-02 10:13] warpech commented on #62
Moved to https://github.com/Starcounter/Guidelines/issues/27

[2017-10-02 10:13] #62 closed

[2017-10-02 10:14] warpech commented on #15
Moved to https://github.com/Starcounter/RebelsLounge/issues/154

[2017-10-02 10:14] #15 closed